html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

section.u4m-slider-resource-cards {
  margin: 100px 0;
}
section.u4m-slider-resource-cards.reverse-text h2.heading {
  color: #fff;
}
section.u4m-slider-resource-cards .top-wrapper {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1224rem;
  padding-left: 20rem;
  padding-right: 20rem;
  display: flex;
  justify-content: space-between;
}
section.u4m-slider-resource-cards .top-wrapper .heading {
  font-size: 48rem;
  margin-bottom: 30rem;
  line-height: 1.125;
  color: #0e2514;
  font-family: "Inter";
  font-weight: bold;
  letter-spacing: -0.5px;
}
@media (max-width: 1024px) {
  section.u4m-slider-resource-cards .top-wrapper .heading {
    font-size: 38rem;
  }
}
@media (max-width: 580px) {
  section.u4m-slider-resource-cards .top-wrapper .heading {
    font-size: 32rem;
    margin-bottom: 20rem;
  }
}
@media (max-width: 1024px) {
  section.u4m-slider-resource-cards .top-wrapper .heading {
    font-size: 21rem;
    margin-bottom: 30rem;
    line-height: 1.57;
    color: #2e2e2e;
    font-family: "Sofia Sans";
    font-weight: 400;
    letter-spacing: 0px;
    margin: 0;
  }
}
@media (max-width: 1024px) and (max-width: 580px) {
  section.u4m-slider-resource-cards .top-wrapper .heading {
    font-size: 16rem;
    margin-bottom: 20rem;
  }
}
section.u4m-slider-resource-cards .top-wrapper .button {
  flex-grow: 1;
  text-align: right;
  font-weight: bold;
  margin: 20rem 0;
  cursor: pointer;
}
section.u4m-slider-resource-cards .top-wrapper .button:after {
  display: inline-block;
  margin-left: 5rem;
  width: 9rem;
  height: 7rem;
}
section.u4m-slider-resource-cards .top-wrapper .button:hover, section.u4m-slider-resource-cards .top-wrapper .button:focus {
  color: #33475b;
}
@media (max-width: 767px) {
  section.u4m-slider-resource-cards .top-wrapper .button {
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 767px) {
  section.u4m-slider-resource-cards .top-wrapper {
    display: block;
    text-align: center;
  }
}
section.u4m-slider-resource-cards .container {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1224rem;
  padding-left: 20rem;
  padding-right: 20rem;
  max-width: 1280px;
  opacity: 0;
}
section.u4m-slider-resource-cards .container .slick-list {
  padding-top: 20px;
  padding-bottom: 20px;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track {
  display: flex;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide {
  height: inherit;
  margin: 0 20px;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div {
  height: 100%;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card {
  margin: 20rem;
  padding: 20rem;
  box-shadow: 0rem 1rem 12rem 0 rgba(51, 71, 91, 0.1);
  border: 1px solid #edf0f2;
  background-color: #fff;
  flex-basis: calc(33.333% - 40rem);
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-basis: calc(25% - 40rem);
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0;
  background-color: #fff;
  position: relative;
  top: 0;
  transition: top 0.1s ease-in;
  margin: 0;
  height: 100%;
}
@media (max-width: 1024px) {
  section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card {
    flex-basis: calc(50% - 40rem);
  }
}
@media (max-width: 580px) {
  section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card {
    width: 100%;
    margin-bottom: 50rem;
  }
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card button {
  line-height: 1.71;
  font-size: 14rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Sofia Sans";
  display: flex;
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
  border-radius: 8px;
  transition: 0.3s ease;
  border: 1px solid;
  text-decoration: none;
  padding: 13rem 30rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #409650;
  border-color: #409650;
  cursor: pointer;
  padding: 8rem 20rem 7rem 20rem;
  font-size: 12rem;
  line-height: 1.2;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card button:hover {
  border-radius: 21px;
  color: #c0fc95;
  background-color: #2c6938;
  border-color: #2c6938;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card button:active {
  border-radius: 21px;
  color: #9bf75f;
  background-color: #275430;
  border-color: #275430;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card button:disabled {
  border-radius: 8px;
  color: #fff;
  background-color: #969696;
  border-color: #969696;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .image {
  min-height: 100rem;
  display: flex;
  align-items: center;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .image.filled {
  width: 100%;
  min-height: 203rem;
  border-bottom: 1rem solid #edf0f2;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .image.filled img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .image a {
  display: block;
  margin: 0 auto;
  background-color: transparent;
  box-shadow: none;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .image a:hover {
  background-color: transparent;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .image img {
  display: block;
  margin: 30rem auto 0 auto;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .image img.left {
  margin: 30rem auto 0 30rem;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content {
  padding: 20rem 30rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
@media (max-width: 767px) {
  section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content {
    padding: 20rem;
  }
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.url {
  display: flex;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.eyebrow {
  font-family: "Sofia Sans";
  font-size: 13rem;
  line-height: 1.6;
  letter-spacing: 0.35rem;
  margin-bottom: 20rem;
  color: #7c98b6;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
}
@media (max-width: 580px) {
  section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.eyebrow {
    font-size: 13rem;
  }
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.title {
  font-size: 14rem;
  margin-bottom: 30rem;
  line-height: 1.71;
  color: #2e2e2e;
  font-family: "Sofia Sans";
  font-weight: bold;
  letter-spacing: 0px;
  display: block;
  color: #33475b;
  margin-top: 5rem;
  margin-bottom: 15rem;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.teaser {
  font-family: "Sofia Sans";
  font-size: 13rem;
  line-height: 1.6;
  letter-spacing: 0.35rem;
  margin-bottom: 20rem;
  color: #33475b;
  display: block;
  margin-bottom: 0;
}
@media (max-width: 580px) {
  section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.teaser {
    font-size: 13rem;
  }
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.cta,
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.url {
  margin-top: auto;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.cta a,
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.url a {
  line-height: 1.71;
  font-size: 14rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Sofia Sans";
  display: flex;
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
  border-radius: 8px;
  transition: 0.3s ease;
  border: 1px solid;
  text-decoration: none;
  padding: 13rem 30rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #409650;
  border-color: #409650;
  cursor: pointer;
  padding: 8rem 20rem 7rem 20rem;
  font-size: 12rem;
  line-height: 1.2;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.cta a:hover,
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.url a:hover {
  border-radius: 21px;
  color: #c0fc95;
  background-color: #2c6938;
  border-color: #2c6938;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.cta a:active,
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.url a:active {
  border-radius: 21px;
  color: #9bf75f;
  background-color: #275430;
  border-color: #275430;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.cta a:disabled,
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card .content span.url a:disabled {
  border-radius: 8px;
  color: #fff;
  background-color: #969696;
  border-color: #969696;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card:hover {
  top: -10rem;
}
@media (max-width: 1024px) {
  section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card {
    flex-basis: calc(33.333% - 40rem);
    flex-grow: 0;
    flex-shrink: 0;
  }
}
@media (max-width: 767px) {
  section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card {
    flex-basis: calc(50% - 40rem);
    flex-grow: 0;
    flex-shrink: 0;
  }
}
@media (max-width: 580px) {
  section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card {
    margin: 20rem;
    flex-basis: calc(100% - 40rem);
    flex-grow: 0;
    flex-shrink: 0;
  }
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap {
  height: 100%;
  display: block;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .image {
  width: 100%;
  height: 152rem;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .content {
  padding: 20rem;
  height: calc(100% - 152rem);
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .content .heading {
  font-family: "Sofia Sans";
  font-size: 14rem;
  line-height: 1.6;
  letter-spacing: 0.35rem;
  margin-bottom: 20rem;
  color: #33475b;
  font-weight: bold;
  margin: 0;
  text-align: left;
}
@media (max-width: 580px) {
  section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .content .heading {
    font-size: 14rem;
  }
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .content span.medium {
  font-family: "Sofia Sans";
  font-size: 12rem;
  line-height: 1.6;
  letter-spacing: 0.35rem;
  margin-bottom: 10rem;
  color: #33475b;
  margin: 0 0 5rem 0;
}
@media (max-width: 580px) {
  section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .content span.medium {
    font-size: 12rem;
  }
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .content p {
  font-family: "Sofia Sans";
  font-size: 12rem;
  line-height: 1.6;
  letter-spacing: 0.35rem;
  margin-bottom: 10rem;
  color: #33475b;
}
@media (max-width: 580px) {
  section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .content p {
    font-size: 12rem;
  }
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .content span.learn-more {
  font-weight: bold;
  margin: 20rem 0;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 10rem;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .content span.learn-more:after {
  display: inline-block;
  margin-left: 5rem;
  width: 9rem;
  height: 7rem;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .content span.learn-more:hover, section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .content span.learn-more:focus {
  color: #33475b;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .image {
  height: 210px;
}
section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card a.link-wrap .content {
  height: calc(100% - 210px);
}
@media (max-width: 580px) {
  section.u4m-slider-resource-cards .container .slick-list .slick-track .slick-slide div .resource-card {
    margin: 0;
  }
}
section.u4m-slider-resource-cards .container .slick-dots {
  position: relative;
  padding: 20px;
  position: static;
}
section.u4m-slider-resource-cards .container .slick-dots li button {
  background-color: #cbd6e2;
  transition: 0.1s ease-in;
  border-radius: 100%;
}
section.u4m-slider-resource-cards .container .slick-dots li button:before {
  opacity: 0;
}
section.u4m-slider-resource-cards .container .slick-dots li button:hover {
  background-color: #7c98b6;
}
section.u4m-slider-resource-cards .container .slick-dots li.slick-active button {
  background-color: #733bf7;
}
section.u4m-slider-resource-cards .container .slick-dots > li:only-child {
  display: none;
}
section.u4m-slider-resource-cards .container .slick-active button:before {
  color: #733bf7;
  opacity: 1;
}
section.u4m-slider-resource-cards .container.slick-initialized {
  opacity: 1;
}
@media (max-width: 1280px) {
  section.u4m-slider-resource-cards .container {
    padding: 0;
  }
}