html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

section.u4m-cta-row {
  margin-bottom: 100rem;
}
section.u4m-cta-row.reverse-text {
  color: #fff;
}
section.u4m-cta-row div.inner {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1224rem;
  padding-left: 20rem;
  padding-right: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 580px) {
  section.u4m-cta-row div.inner {
    display: block;
  }
}
section.u4m-cta-row div.inner.centered {
  display: block;
}
section.u4m-cta-row div.inner.centered div.copy,
section.u4m-cta-row div.inner.centered div.image {
  width: 100%;
  text-align: center;
}
section.u4m-cta-row div.inner.centered div.image {
  margin-top: 50rem;
}
section.u4m-cta-row div.inner div.copy {
  width: 50%;
}
section.u4m-cta-row div.inner div.copy .heading {
  font-size: 48rem;
  margin-bottom: 30rem;
  line-height: 1.125;
  color: #0e2514;
  font-family: "Inter";
  font-weight: bold;
  letter-spacing: -0.5px;
}
@media (max-width: 1024px) {
  section.u4m-cta-row div.inner div.copy .heading {
    font-size: 38rem;
  }
}
@media (max-width: 580px) {
  section.u4m-cta-row div.inner div.copy .heading {
    font-size: 32rem;
    margin-bottom: 20rem;
  }
}
section.u4m-cta-row div.inner div.copy div.cta a {
  line-height: 1.71;
  font-size: 14rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Sofia Sans";
  display: flex;
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
  border-radius: 8px;
  transition: 0.3s ease;
  border: 1px solid;
  text-decoration: none;
  padding: 13rem 30rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #409650;
  border-color: #409650;
  cursor: pointer;
}
section.u4m-cta-row div.inner div.copy div.cta a:hover {
  border-radius: 21px;
  color: #c0fc95;
  background-color: #2c6938;
  border-color: #2c6938;
}
section.u4m-cta-row div.inner div.copy div.cta a:active {
  border-radius: 21px;
  color: #9bf75f;
  background-color: #275430;
  border-color: #275430;
}
section.u4m-cta-row div.inner div.copy div.cta a:disabled {
  border-radius: 8px;
  color: #fff;
  background-color: #969696;
  border-color: #969696;
}
@media (max-width: 580px) {
  section.u4m-cta-row div.inner div.copy {
    width: 100%;
    text-align: center;
  }
}
section.u4m-cta-row div.inner div.image {
  width: 50%;
  text-align: right;
}
section.u4m-cta-row div.inner div.image img {
  max-width: 400rem;
}
@media (max-width: 767px) {
  section.u4m-cta-row div.inner div.image img {
    max-width: 100%;
  }
}
@media (max-width: 580px) {
  section.u4m-cta-row div.inner div.image {
    margin: 20rem auto 0 auto;
  }
}