html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

.u4m-logo-trustmarks .intro_content {
  margin-bottom: 57px;
}
.u4m-logo-trustmarks .intro_content .intro_title {
  font-weight: 600;
}
.u4m-logo-trustmarks .items.grayscale {
  filter: grayscale(100%);
}
.u4m-logo-trustmarks .btm {
  z-index: 11;
  padding: 14px 0;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #000000 12.5%, #000000 87.5%, rgba(0, 0, 0, 0) 100%);
          mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #000000 12.5%, #000000 87.5%, rgba(0, 0, 0, 0) 100%);
}
.u4m-logo-trustmarks .btm .img {
  width: 174px;
  height: 67px;
  display: flex;
  align-items: center;
}
.u4m-logo-trustmarks .btm .img img {
  -o-object-fit: contain;
  object-fit: contain;
  height: auto;
  height: 67px !important;
  width: auto !important;
}
.u4m-logo-trustmarks .btm .slick-slide {
  width: 174px !important;
  margin-right: 30px;
  box-sizing: border-box;
}
.u4m-logo-trustmarks .btm .slick-slide:last-child {
  margin-right: 0;
}
.u4m-logo-trustmarks .btm .slick-list {
  overflow: hidden;
  margin: 0;
}
.u4m-logo-trustmarks .btm .slick-track {
  display: flex !important;
  align-items: center;
  justify-content: center;
}