{% set moduleName = 'u4m-slider-tabs-top-variation-c' %}
{% include "../partials/u4-module-includes.html" %}

<div class="page-center  {{ module.module_settings.theme }}">
  <div class="intro_wrapp">
    {{macros.introGroup(module.intro_content)}}
  </div>
  <div class="slider-tabs-wrp">
    <div class="slider-tabs-items mobile-hide">
      <div class="slider-pie">
        <div class="slider-pie-inn">
        </div>
      </div>
      <div class="slider-tabs">
        <div class="tab-items slider-nav">
          {% for item in module.tab_items %}
          <div class="tab-item">
            <button class="tab-btn">
              {{ item.tab_title }}
            </button>
          </div>
          {% endfor %}
        </div>

      </div>
      <div class="slider-tabs-content">
        <div class="tabs-content-items slider-for">
          {% for item in module.tab_items %}
          <div class="tabs-content-item">
            <div class="tabs-content">
              {% if item.tab_title %}
              <div class="tabs-subheading">
                {{ item.tab_title }}
              </div>
              {% endif %}
              {% if item.tab_content.title %}
              <div class="tabs-heading">
                {{ item.tab_content.title }}
              </div>
              {% endif %}
              {% if item.tab_content.content %}
              {{ item.tab_content.content }}
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      </div>

      <div class="arrow-section mobile-hide">
      <div class="tab-prev-arrow prev-btn">
        <div class="tab-arrow">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M165.66,202.34a8,8,0,0,1-11.32,11.32l-80-80a8,8,0,0,1,0-11.32l80-80a8,8,0,0,1,11.32,11.32L91.31,128Z"></path></svg>
        </div>   
      </div>
      <div class="tab-next-arrow next-btn">
        <div class="progress-bar">
          <svg class="progress-svg" width="50" height="50">
            <g transform="translate(20,20)">
              <circle class="circle-go" r="22" cx="0" cy="0"></circle>
            </g>
          </svg>
        </div>
        <div class="tab-arrow">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path></svg>
        </div>
      </div>
    </div>

{# Mobile Sturture #}
<div class="slider-tabs-items  mobile-visible">
<div class="slider-tabs-content">
<div class="tabs-content-items">
{% for item in module.tab_items %}
<div class="tabs-content-item">
  <div class="tabs-content">
    {% if item.tab_title %}
    <div class="tabs-subheading">
      {{ item.tab_title }}
    </div>
    {% endif %}
    {% if item.tab_content.title %}
    <div class="tabs-heading">
      {{ item.tab_content.title }}
    </div>
    {% endif %}
    {% if item.tab_content.content %}
    {{ item.tab_content.content }}
    {% endif %}
  </div>
</div>
{% endfor %}
</div>
</div>
</div>

    </div>



</div>
</section>


{% require_js %}
<script>
  $('.{{name}} .slider-for').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: true,
    fade: true,
    asNavFor: '.slider-nav'
  });
  $('.{{name}} .slider-nav').slick({
    slidesToShow: 6,
    slidesToScroll: 6,
    asNavFor: '.slider-for',
    dots: false,
    focusOnSelect: true
  });

$(".{{name}} .prev-btn").click(function () {
$(".{{name}} .tabs-content-items").slick("slickPrev");
});

$(".{{name}} .next-btn").click(function () {
$(".{{name}} .tabs-content-items").slick("slickNext");
});

</script>
{% end_require_js %}













