html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

section.u4m-slider-simple {
  background-size: cover;
  background-position: 50% 50%;
  background-color: #edf0f2;
  padding-bottom: 110rem;
}
section.u4m-slider-simple.reverse-text {
  color: #fff;
}
section.u4m-slider-simple div.content {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1224rem;
  padding-left: 20rem;
  padding-right: 20rem;
  max-width: 1280rem;
}
section.u4m-slider-simple div.content .heading {
  font-size: 48rem;
  margin-bottom: 30rem;
  line-height: 1.125;
  color: #0e2514;
  font-family: "Inter";
  font-weight: bold;
  letter-spacing: -0.5px;
  text-align: center;
  padding-top: 100rem;
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  section.u4m-slider-simple div.content .heading {
    font-size: 38rem;
  }
}
@media (max-width: 580px) {
  section.u4m-slider-simple div.content .heading {
    font-size: 32rem;
    margin-bottom: 20rem;
  }
}
section.u4m-slider-simple div.content .intro {
  text-align: center;
}
section.u4m-slider-simple div.content div.items {
  position: relative;
  text-align: center;
  max-width: 820rem;
  margin: 0 auto;
  float: none;
}
section.u4m-slider-simple div.content div.items .slick-arrow.slick-next:before, section.u4m-slider-simple div.content div.items .slick-arrow.slick-prev:before {
  opacity: 1;
  color: #33475b;
  content: "<";
  transition: 0.1s ease-in;
}
section.u4m-slider-simple div.content div.items .slick-arrow.slick-next:hover:before, section.u4m-slider-simple div.content div.items .slick-arrow.slick-prev:hover:before {
  color: #00a4bd;
}
section.u4m-slider-simple div.content div.items .slick-arrow.slick-next {
  right: -65rem;
}
section.u4m-slider-simple div.content div.items .slick-arrow.slick-next:before {
  content: ">";
}
section.u4m-slider-simple div.content div.items .slick-arrow.slick-prev {
  left: -65rem;
}
section.u4m-slider-simple div.content div.items .slick-arrow.slick-prev:before {
  content: "<";
}
section.u4m-slider-simple div.content div.items .slick-dots {
  position: relative;
  bottom: 0;
}
section.u4m-slider-simple div.content div.items .slick-dots li button {
  background-color: #cbd6e2;
  transition: 0.1s ease-in;
  border-radius: 100%;
}
section.u4m-slider-simple div.content div.items .slick-dots li button:before {
  opacity: 0;
}
section.u4m-slider-simple div.content div.items .slick-dots li button:hover {
  background-color: #7c98b6;
}
section.u4m-slider-simple div.content div.items .slick-dots li.slick-active button {
  background-color: #733bf7;
}
section.u4m-slider-simple div.content div.items .slick-dots > li:only-child {
  display: none;
}
section.u4m-slider-simple div.content div.items div.slide {
  width: 100%;
  transition: 0.3s ease;
  z-index: 1;
  margin: 50rem auto 50rem;
  text-align: center;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
section.u4m-slider-simple div.content div.items div.slide .image {
  height: 100rem;
  width: 100rem;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 50%;
  margin: 0 auto 30rem auto;
}
section.u4m-slider-simple div.content div.items div.slide img.large {
  margin: 0 auto 30rem auto;
}
section.u4m-slider-simple div.content div.items div.slide > span {
  text-align: left;
}
section.u4m-slider-simple div.content div.items div.slide p.quote {
  font-size: 48rem;
  margin-bottom: 30rem;
  line-height: 1.125;
  color: #0e2514;
  font-family: "Inter";
  font-weight: bold;
  letter-spacing: -0.5px;
  font-weight: normal;
  margin-bottom: 30rem;
  margin-top: 0;
  text-align: center;
}
@media (max-width: 1024px) {
  section.u4m-slider-simple div.content div.items div.slide p.quote {
    font-size: 38rem;
  }
}
@media (max-width: 580px) {
  section.u4m-slider-simple div.content div.items div.slide p.quote {
    font-size: 32rem;
    margin-bottom: 20rem;
  }
}
section.u4m-slider-simple div.content div.items div.slide p.quote span {
  color: #00a4bd;
  font-weight: bold;
}
section.u4m-slider-simple div.content div.items div.slide p.author {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-family: "Sofia Sans";
  font-size: 14rem;
  line-height: 1.6;
  letter-spacing: 0.35rem;
  margin-bottom: 20rem;
  margin-bottom: 20rem;
}
@media (max-width: 580px) {
  section.u4m-slider-simple div.content div.items div.slide p.author {
    font-size: 14rem;
  }
}
section.u4m-slider-simple div.content div.items div.slide p.author span {
  text-transform: none;
}
section.u4m-slider-simple div.content div.items div.slide a {
  line-height: 1.71;
  font-size: 14rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Sofia Sans";
  display: flex;
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
  border-radius: 8px;
  transition: 0.3s ease;
  border: 1px solid;
  text-decoration: none;
  padding: 13rem 30rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #409650;
  border-color: #409650;
  cursor: pointer;
  padding: 8rem 20rem 7rem 20rem;
  font-size: 12rem;
  line-height: 1.2;
}
section.u4m-slider-simple div.content div.items div.slide a:hover {
  border-radius: 21px;
  color: #c0fc95;
  background-color: #2c6938;
  border-color: #2c6938;
}
section.u4m-slider-simple div.content div.items div.slide a:active {
  border-radius: 21px;
  color: #9bf75f;
  background-color: #275430;
  border-color: #275430;
}
section.u4m-slider-simple div.content div.items div.slide a:disabled {
  border-radius: 8px;
  color: #fff;
  background-color: #969696;
  border-color: #969696;
}
section.u4m-slider-simple div.content div.items div.slide a:hover {
  background-color: white;
  color: #733bf7;
}
section.u4m-slider-simple div.content div.items div.slide.active {
  opacity: 1;
  z-index: 2;
}
section.u4m-slider-simple div.content div.items div.slide.exit {
  z-index: 1;
  transform: translateY(-10rem);
  transition: 1s ease-in;
  opacity: 0;
}