{% set moduleName = 'u4m-hero-left-aligned' %}
{% include "../partials/u4-module-includes.html" %}

{% if module.module_overrides.background_settings.background_type == 'video' %}
<video class="video" autoplay muted loop playsinline>
  <source src="{{ module.module_overrides.background_settings.bg_video }}" type="video/mp4">
</video>
<div class="overlay-color">

</div>
{% endif %}
<div class="page-center  {{ module.module_settings.theme }}">
  <div class="intro_wrapp">
    {{macros.introGroup(module.intro_content)}}
  </div>
</div>
</section>
















