<!--
  templateType: blog_post
  isAvailableForNewContent: true
  label: L2L - Blog Post
-->
{% extends './base.html' %} {% block body %}
<main id="main-content" class="body-container-wrapper">
  <div class="post_banner_section">
    {% module 'u4m-blog-post-banner'
    path='../modules/u4m-blog-post-banner',label='Blog Post Banner' %}
  </div>
  <section class="u4m-blog-post">
    <div class="post_content" id="body">
      <div class="page-center">
        <div class="post-share" id="share">
          <span class="share_text">SHARE</span>
          <a
            href="https://twitter.com/intent/tweet?original_referer={{ content.absolute_url }}&amp;url={{ content.absolute_url }}&amp;source=tweetbutton"
            target="_blank"
            aria-label="Twitter"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path
                d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"
              />
            </svg>
          </a>
          <a
            href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ content.absolute_url }}"
            target="_blank"
            aria-label="LinkedIn"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path
                d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z"
              />
            </svg>
          </a>
          <a
            href="http://www.facebook.com/share.php?u={{ content.absolute_url }}"
            target="_blank"
            aria-label="Facebook"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
              <path
                d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"
              />
            </svg>
          </a>
          <a href="javscript:void(0);" class="copy-link-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
              <path
                d="M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z"
              />
            </svg>
          </a>
        </div>
        <div class="post-wrapper">
          {% if content.post_body %}
          <div class="content">{{ content.post_body }}</div>
          {% endif %}
          <div class="topics">
            {% for topic in content.topic_list %}
            <a class="link" href="{{ blog_tag_url(group.id, topic.slug) }}">
              {{ topic.name }} </a
            >{% if not loop.last %}, {% endif %} {% endfor %}
          </div>
          <div class="post-revise-card">
            {% module "revisions-card"
            path='../modules/u4m-revisions-card',label='Revisions Card' %}
          </div>
        </div>
      </div>
    </div>
    {#
    <div class="author-section">
      <div class="page-center">
        <div class="author-wrap">
          {% if content.blog_post_author.avatar %}
          <div class="avatar">
            <div class="avatar-inn">
              <img
                src="{{ resize_image_url(content.blog_post_author.avatar, 0,0,imageMax) }}"
                alt="author-avatar"
              />
            </div>
          </div>
          {% endif %}
          <div class="author-link">
            {% if content.blog_post_author.display_name %}
            <h2>
              <a
                href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}"
                >{{ content.blog_post_author.display_name }}</a
              >
            </h2>
            {% endif %} {% if content.blog_post_author.bio %} {{
            content.blog_post_author.bio }} {% endif %}
            <div class="author-share">
              <div class="author-share-inn">
                {% if content.blog_post_author.twitter %}
                <a
                  href="{{ content.blog_post_author.twitter }}"
                  target="_blank"
                  class="hs-author-social-link hs-social-twitter"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path
                      d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"
                    />
                  </svg>
                </a>
                {% endif %} {% if content.blog_post_author.linkedin %}
                <a
                  href="{{ content.blog_post_author.linkedin }}"
                  target="_blank"
                  class="hs-author-social-link hs-social-linkedin"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path
                      d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z"
                    />
                  </svg>
                </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    #}
    <div class="post-related-post">
      {% module "blog-posts" path='../modules/u4m-blog-cards',label='Blog Feed'
      %}
    </div>
    <div class="post-bottom-content">
      {% module "blog-subscription"
      path='../modules/u4m-blog-subscription',label='Blog Subscription' %}
    </div>
  </section>
</main>
{% endblock body %} {% require_js %}
<script>
  document.querySelectorAll(".copy-link-button").forEach(function (button) {
    button.addEventListener("click", function () {
      var tempInput = document.createElement("input");
      tempInput.value = window.location.href;
      document.body.appendChild(tempInput);
      tempInput.select();
      document.execCommand("copy");
      document.body.removeChild(tempInput);
    });
  });
</script>
{% end_require_js %}
