@import "../../css/_module-imports";

section.u4m-blog-listing {
  .blog-banner {
    position: relative;
    padding-top: 94px;
    padding-bottom: 94px;
    .page-title {
      text-align: center;
      h1 {
        margin-bottom: 60px;
        color: $white;
        font-family: $primaryFont;
      }
    }
    .featured-post {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      column-gap: 70px;
    }
    .featured-img-col {
      width: calc(50% - 35px);
      position: relative;
      border-radius: 13px;
      padding: 18px;
      overflow: hidden;
      @include tabletvert {
        width: 100%;
        margin-bottom: 30px;
      }
      &::before,
      &:after {
        content: "";
        height: calc(100% + 4px);
        left: 0px;
        position: absolute;
        top: 0px;
        width: calc(100% + 4px);
        z-index: 2;
      }
      &::before {
        background: linear-gradient(
          180deg,
          $Medium_Aquamarine 0%,
          rgba($Medium_Aquamarine, 0.0001) 100%
        );
        border: 1px solid transparent;
        -o-border-image: linear-gradient(
          180deg,
          $Medium_Aquamarine 0%,
          rgba($Medium_Aquamarine, 0.0001) 100%
        );
        border-image: linear-gradient(
          180deg,
          $Medium_Aquamarine 0%,
          rgba($Medium_Aquamarine, 0.0001) 100%
        );
        border-image-slice: 1;
        border-radius: 13px;
        bottom: 0;
        -webkit-mask: linear-gradient($White 0 0) content-box,
          linear-gradient($Medium_Aquamarine 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        overflow: hidden;
        transition: none;
        width: 100%;
      }
      &::after {
        border: 2px solid $Medium_Aquamarine;
        border-radius: 100px;
        height: 100%;
        left: 0;
        opacity: 0;
        top: 0;
        transition: all 0.2s ease;
        transition: none;
        width: 100%;
      }
      img {
        width: 100%;
        border-radius: 8px;
      }
    }
    .featured-content-col {
      width: calc(50% - 35px);
      @include tabletvert {
        width: 100%;
      }
      .featured-topic {
        padding-bottom: 13px;
        a {
          @include eyebrow2;
        }
      }
      h3 {
        margin: 0;
        margin-bottom: 11px;
        color: $white;
        a {
          color: inherit;
        }
      }
      p {
        color: $white;
      }
      .read-more {
        margin-top: 30px;
        a {
          text-transform: uppercase;
        }
      }
    }
  }
  .main-listing {
    background-color: #f3faf4;
    padding-top: 78px;
    padding-bottom: 100px;
    .site-search-wrap {
      margin-bottom: 85px;
      .page-center {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: 30px;
        @include tabletvert {
          row-gap: 30px;
        }
        .search-col,
        .tag-col {
          max-width: 300px;
          width: 100%;
        }
        .search-col {
          form {
            background: transparent;
            border-radius: 0;
            margin: 0;
            max-width: 100%;
            padding: 0;
            position: relative;
            .hs-search-field__input {
              border-radius: 8px;
              border: 1px solid;
              padding: 10px 60px 10px 20px;
              &::placeholder {
                color: #2e2e2e;
              }
            }
            button {
              position: absolute;
              top: 0;
              right: 0;
              background: transparent;
              border: 0;
              width: 50px;
              height: 50px;
            }
          }
          .hs-search-field__suggestions {
            margin: 0;
          }
        }
        .tag-col {
          select {
            border-radius: 8px;
            border: 1px solid;
            padding: 10px 20px;
            color: #2e2e2e;
          }
        }
      }
    }
  }
  .listing-wrap {
    .flex-row {
      margin: 0 -15px 64px;
      row-gap: 30px;
    }
    .post-item {
      padding: 0 15px;
      width: 33.3333%;
      @include tabletmid {
        width: 50%;
      }
      @include tabletvert {
        width: 100%;
      }

      .post-item-inner {
        border: 1px solid #e5e5e5;
        border-radius: 8px;
        padding: 18px;
        .featured-img {
          margin-bottom: 15px;
          img {
            width: 100%;
            border-radius: 8px;
          }
        }
        .post-content {
          .post-item-topic {
            margin-bottom: 6px;
            a {
              text-decoration: underline;
            }
          }
          h4 {
            margin: 0;
            margin-bottom: 11px;
            a {
              color: inherit;
            }
          }
          p {
            margin: 0;
          }
          .read-more {
            margin-top: 40px;
            a {
              text-transform: uppercase;
            }
          }
        }
      }
    }
    .blog-pagination {
      align-items: center;
      display: flex;
      justify-content: center;
      text-align: center;
      a {
        align-items: center;
        background-color: rgba(217, 232, 237, 0.5);
        border-radius: 100%;
        color: #00161d;
        display: flex;
        font-size: 16rem;
        font-weight: 500;
        height: 36px;
        line-height: 1.2;
        margin: 0 10px;
        width: 36px;
        justify-content: center;
        &.active,
        &:hover {
          background-color: #409650;
          color: #ffffff;
        }
      }
    }
  }
}
