html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

section.u4m-blog-listing .blog-banner {
  position: relative;
  padding-top: 94px;
  padding-bottom: 94px;
}
section.u4m-blog-listing .blog-banner .page-title {
  text-align: center;
}
section.u4m-blog-listing .blog-banner .page-title h1 {
  margin-bottom: 60px;
  color: #fff;
  font-family: "Sofia Sans";
}
section.u4m-blog-listing .blog-banner .featured-post {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  -moz-column-gap: 70px;
       column-gap: 70px;
}
section.u4m-blog-listing .blog-banner .featured-img-col {
  width: calc(50% - 35px);
  position: relative;
  border-radius: 13px;
  padding: 18px;
  overflow: hidden;
}
@media (max-width: 767px) {
  section.u4m-blog-listing .blog-banner .featured-img-col {
    width: 100%;
    margin-bottom: 30px;
  }
}
section.u4m-blog-listing .blog-banner .featured-img-col::before, section.u4m-blog-listing .blog-banner .featured-img-col:after {
  content: "";
  height: calc(100% + 4px);
  left: 0px;
  position: absolute;
  top: 0px;
  width: calc(100% + 4px);
  z-index: 2;
}
section.u4m-blog-listing .blog-banner .featured-img-col::before {
  background: linear-gradient(180deg, #6abe7a 0%, rgba(106, 190, 122, 0.0001) 100%);
  border: 1px solid transparent;
  -o-border-image: linear-gradient(180deg, #6abe7a 0%, rgba(106, 190, 122, 0.0001) 100%);
  border-image: linear-gradient(180deg, #6abe7a 0%, rgba(106, 190, 122, 0.0001) 100%);
  border-image-slice: 1;
  border-radius: 13px;
  bottom: 0;
  -webkit-mask: linear-gradient(#ffffff 0 0) content-box, linear-gradient(#6abe7a 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  overflow: hidden;
  transition: none;
  width: 100%;
}
section.u4m-blog-listing .blog-banner .featured-img-col::after {
  border: 2px solid #6abe7a;
  border-radius: 100px;
  height: 100%;
  left: 0;
  opacity: 0;
  top: 0;
  transition: all 0.2s ease;
  transition: none;
  width: 100%;
}
section.u4m-blog-listing .blog-banner .featured-img-col img {
  width: 100%;
  border-radius: 8px;
}
section.u4m-blog-listing .blog-banner .featured-content-col {
  width: calc(50% - 35px);
}
@media (max-width: 767px) {
  section.u4m-blog-listing .blog-banner .featured-content-col {
    width: 100%;
  }
}
section.u4m-blog-listing .blog-banner .featured-content-col .featured-topic {
  padding-bottom: 13px;
}
section.u4m-blog-listing .blog-banner .featured-content-col .featured-topic a {
  font-family: "Inter";
  font-size: 14rem;
  font-weight: 600;
  line-height: 2.37;
  letter-spacing: 1rem;
  text-transform: uppercase;
  display: block;
  color: #b8ffd2;
  text-decoration: underline;
}
section.u4m-blog-listing .blog-banner .featured-content-col h3 {
  margin: 0;
  margin-bottom: 11px;
  color: #fff;
}
section.u4m-blog-listing .blog-banner .featured-content-col h3 a {
  color: inherit;
}
section.u4m-blog-listing .blog-banner .featured-content-col p {
  color: #fff;
}
section.u4m-blog-listing .blog-banner .featured-content-col .read-more {
  margin-top: 30px;
}
section.u4m-blog-listing .blog-banner .featured-content-col .read-more a {
  text-transform: uppercase;
}
section.u4m-blog-listing .main-listing {
  background-color: #f3faf4;
  padding-top: 78px;
  padding-bottom: 100px;
}
section.u4m-blog-listing .main-listing .site-search-wrap {
  margin-bottom: 85px;
}
section.u4m-blog-listing .main-listing .site-search-wrap .page-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 767px) {
  section.u4m-blog-listing .main-listing .site-search-wrap .page-center {
    row-gap: 30px;
  }
}
section.u4m-blog-listing .main-listing .site-search-wrap .page-center .search-col,
section.u4m-blog-listing .main-listing .site-search-wrap .page-center .tag-col {
  max-width: 300px;
  width: 100%;
}
section.u4m-blog-listing .main-listing .site-search-wrap .page-center .search-col form {
  background: transparent;
  border-radius: 0;
  margin: 0;
  max-width: 100%;
  padding: 0;
  position: relative;
}
section.u4m-blog-listing .main-listing .site-search-wrap .page-center .search-col form .hs-search-field__input {
  border-radius: 8px;
  border: 1px solid;
  padding: 10px 60px 10px 20px;
}
section.u4m-blog-listing .main-listing .site-search-wrap .page-center .search-col form .hs-search-field__input::-moz-placeholder {
  color: #2e2e2e;
}
section.u4m-blog-listing .main-listing .site-search-wrap .page-center .search-col form .hs-search-field__input::placeholder {
  color: #2e2e2e;
}
section.u4m-blog-listing .main-listing .site-search-wrap .page-center .search-col form button {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: 0;
  width: 50px;
  height: 50px;
}
section.u4m-blog-listing .main-listing .site-search-wrap .page-center .search-col .hs-search-field__suggestions {
  margin: 0;
}
section.u4m-blog-listing .main-listing .site-search-wrap .page-center .tag-col select {
  border-radius: 8px;
  border: 1px solid;
  padding: 10px 20px;
  color: #2e2e2e;
}
section.u4m-blog-listing .listing-wrap .flex-row {
  margin: 0 -15px 64px;
  row-gap: 30px;
}
section.u4m-blog-listing .listing-wrap .post-item {
  padding: 0 15px;
  width: 33.3333%;
}
@media (max-width: 991px) {
  section.u4m-blog-listing .listing-wrap .post-item {
    width: 50%;
  }
}
@media (max-width: 767px) {
  section.u4m-blog-listing .listing-wrap .post-item {
    width: 100%;
  }
}
section.u4m-blog-listing .listing-wrap .post-item .post-item-inner {
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding: 18px;
}
section.u4m-blog-listing .listing-wrap .post-item .post-item-inner .featured-img {
  margin-bottom: 15px;
}
section.u4m-blog-listing .listing-wrap .post-item .post-item-inner .featured-img img {
  width: 100%;
  border-radius: 8px;
}
section.u4m-blog-listing .listing-wrap .post-item .post-item-inner .post-content .post-item-topic {
  margin-bottom: 6px;
}
section.u4m-blog-listing .listing-wrap .post-item .post-item-inner .post-content .post-item-topic a {
  text-decoration: underline;
}
section.u4m-blog-listing .listing-wrap .post-item .post-item-inner .post-content h4 {
  margin: 0;
  margin-bottom: 11px;
}
section.u4m-blog-listing .listing-wrap .post-item .post-item-inner .post-content h4 a {
  color: inherit;
}
section.u4m-blog-listing .listing-wrap .post-item .post-item-inner .post-content p {
  margin: 0;
}
section.u4m-blog-listing .listing-wrap .post-item .post-item-inner .post-content .read-more {
  margin-top: 40px;
}
section.u4m-blog-listing .listing-wrap .post-item .post-item-inner .post-content .read-more a {
  text-transform: uppercase;
}
section.u4m-blog-listing .listing-wrap .blog-pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}
section.u4m-blog-listing .listing-wrap .blog-pagination a {
  align-items: center;
  background-color: rgba(217, 232, 237, 0.5);
  border-radius: 100%;
  color: #00161d;
  display: flex;
  font-size: 16rem;
  font-weight: 500;
  height: 36px;
  line-height: 1.2;
  margin: 0 10px;
  width: 36px;
  justify-content: center;
}
section.u4m-blog-listing .listing-wrap .blog-pagination a.active, section.u4m-blog-listing .listing-wrap .blog-pagination a:hover {
  background-color: #409650;
  color: #ffffff;
}