@import "../../css/_module-imports";

section.u4m-blog-listing {
  &.topic-page {
    .blog-banner {
      .page-title h1 {
        margin-bottom: 0;
        text-transform: capitalize;
      }
    }
  }

  .blog-banner {
    position: relative;
    padding-top: 94px;
    padding-bottom: 94px;

    @include tabletvert {
      padding: 50px 0;
    }

    .page-center {
      max-width: 1340px;
    }

    .page-title {
      text-align: center;

      h1 {
        margin-bottom: 60px;
        color: $white;
      }
    }

    .featured-post {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      column-gap: 70px;
    }

    .featured-img-col {
      max-width: 722px;
      position: relative;
      border-radius: 13px;
      padding: 18px;
      overflow: hidden;

      @include laptop {
        width: calc(50% - 35px);
      }

      @include tabletvert {
        width: 100%;
        margin-bottom: 30px;
      }

      &::before,
      &:after {
        content: "";
        height: calc(100% + 4px);
        left: 0px;
        position: absolute;
        top: 0px;
        width: calc(100% + 4px);
        z-index: 2;
      }

      &::before {
        background: linear-gradient(180deg,
            $Medium_Aquamarine 0%,
            rgba($Medium_Aquamarine, 0.0001) 100%);
        border: 1px solid transparent;
        -o-border-image: linear-gradient(180deg,
            $Medium_Aquamarine 0%,
            rgba($Medium_Aquamarine, 0.0001) 100%);
        border-image: linear-gradient(180deg,
            $Medium_Aquamarine 0%,
            rgba($Medium_Aquamarine, 0.0001) 100%);
        border-image-slice: 1;
        border-radius: 13px;
        bottom: 0;
        -webkit-mask: linear-gradient($White 0 0) content-box,
          linear-gradient($Medium_Aquamarine 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        overflow: hidden;
        transition: none;
        width: 100%;
      }

      &::after {
        border: 2px solid $Medium_Aquamarine;
        border-radius: 100px;
        height: 100%;
        left: 0;
        opacity: 0;
        top: 0;
        transition: all 0.2s ease;
        transition: none;
        width: 100%;
      }

      img {
        width: 100%;
        border-radius: 8px;
        min-height: 397px;
        object-fit: cover;

        @include tabletvert {
          min-height: auto;
        }
      }
    }

    .featured-content-col {
      width: calc(100% - 792px);
      @include size16;
      line-height: 1.75;

      @include laptop {
        width: calc(50% - 35px);
      }

      @include tabletvert {
        width: 100%;
      }

      .featured-topic {
        padding-bottom: 13px;

        a {
          @include eyebrow2;
        }
      }

      h3 {
        margin: 0;
        margin-bottom: 11px;
        color: $white;

        a {
          color: inherit;
        }
      }

      p {
        color: $white;
        margin-top: 0;
      }

      .read-more {
        margin-top: 30px;

        a {
          letter-spacing: 0.47px;
          color: $Menthol;
          line-height: 1.2;
          gap: 15px;

          .arrowbtn {
            width: 14px;
            height: 14px;
            margin-left: 0;
          }

          svg {
            width: 14px;
            height: 14px;

            path {
              fill: currentColor;
            }
          }
        }
      }
    }
  }

  .main-listing {
    background-color: $Mint_cream;
    padding-top: 78px;
    padding-bottom: 100px;

    @include tabletvert {
      padding: 50px 0;
    }

    .site-search-wrap {
      margin-bottom: 85px;

      @include tabletvert {
        margin-bottom: 50px;
      }

      .page-center {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: 30px;

        @include tabletvert {
          row-gap: 30px;
        }

        .search-col,
        .tag-col {
          max-width: 300px;
          width: 100%;
        }

        .search-col {
          form {
            background: transparent;
            border-radius: 0;
            margin: 0;
            max-width: 100%;
            padding: 0;
            position: relative;

            .hs-search-field__input {
              border-radius: 8px;
              border: 1px solid $border_color;
              padding: 20px 60px 20px 20px;
              font-family: $secondaryFont;
              @include size18;
              line-height: 1.56;
              outline: none;

              &::placeholder {
                color: $baseColor;
              }
            }

            button {
              position: absolute;
              top: 0;
              right: 0;
              background: transparent;
              border: 0;
              width: 50px;
              height: 70px;
            }
          }

          .hs-search-field {
            position: relative;
          }

          .hs-search-field__suggestions {
            margin: 0;
            background: $white;
            left: 0;
            list-style: none;
            margin: 0;
            padding: 0;
            position: absolute;
            width: 100%;
            z-index: 9;
          }

          .hs-search-field--open .hs-search-field__suggestions {
            padding: 15px;
            border: 1px solid $border_color;
            border-radius: 8px;
          }
        }

        .tag-col {
          select {
            border-radius: 8px;
            border: 1px solid $border_color;
            padding: 20px 60px 20px 20px;
            font-family: $secondaryFont;
            @include size18;
            line-height: 1.56;
            color: $baseColor;
            outline: none;
            background-position: calc(100% - 16px);
            background-repeat: no-repeat;
            background-size: 12px;
            appearance: none;
            background-color: $white;
          }
        }
      }
    }
  }

  .listing-wrap {
    @include CardItems;

    .overlayLink {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 9;
    }

    .post-content {
      position: static !important;

      .post-item-topic a {
        position: relative;
        z-index: 10;
        line-height: 1.7;
      }
    }

    .blog-pagination {
      @include blogPagination;
    }
  }
}