html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

section.u4m-side-cta {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 99999;
  display: none;
}
section.u4m-side-cta .link {
  transition: all 0.5s ease-out;
  transform: translateX(300rem);
  position: absolute;
  right: 0;
}
section.u4m-side-cta .link div.cta {
  display: flex;
}
section.u4m-side-cta .link div.cta div.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80rem;
  height: 80rem;
  border-radius: 3rem 0 0 3rem;
  padding: 10rem 15rem;
  box-shadow: 0 15rem 30rem rgba(124, 152, 182, 0.22);
}
section.u4m-side-cta .link div.cta div.inner div.image {
  line-height: 0;
  margin-bottom: 5rem;
}
section.u4m-side-cta .link div.cta div.inner div.image svg {
  max-width: 20rem;
}
section.u4m-side-cta .link div.cta div.inner span.title {
  font-size: 12rem;
  line-height: 1.1;
  text-align: center;
}
section.u4m-side-cta .link div.cta div.outer {
  width: 300rem;
  transition: all 0.5s ease-out;
  padding: 35rem;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 15rem 30rem rgba(124, 152, 182, 0.22);
  position: relative;
}
section.u4m-side-cta .link div.cta div.outer p {
  color: #7c98b6;
  font-size: 14rem;
}
section.u4m-side-cta .link div.cta div.outer button {
  padding: 5rem 20rem;
  font-size: 12rem;
}
section.u4m-side-cta .link div.cta .wrapper a {
  line-height: 1.71;
  font-size: 14rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Sofia Sans";
  display: flex;
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
  border-radius: 8px;
  transition: 0.3s ease;
  border: 1px solid;
  text-decoration: none;
  padding: 13rem 30rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #409650;
  border-color: #409650;
  cursor: pointer;
  padding: 8rem 20rem 7rem 20rem;
  font-size: 12rem;
  line-height: 1.2;
  margin: 0;
}
section.u4m-side-cta .link div.cta .wrapper a:hover {
  border-radius: 21px;
  color: #c0fc95;
  background-color: #2c6938;
  border-color: #2c6938;
}
section.u4m-side-cta .link div.cta .wrapper a:active {
  border-radius: 21px;
  color: #9bf75f;
  background-color: #275430;
  border-color: #275430;
}
section.u4m-side-cta .link div.cta .wrapper a:disabled {
  border-radius: 8px;
  color: #fff;
  background-color: #969696;
  border-color: #969696;
}
section.u4m-side-cta .link:first-of-type {
  margin-bottom: 25rem;
  transform: translateX(300rem) translateY(-430rem);
}
section.u4m-side-cta .link:first-of-type div.cta {
  align-items: flex-end;
}
section.u4m-side-cta .link:first-of-type:hover {
  transform: translateX(0rem) translateY(-430rem);
}
section.u4m-side-cta .link:first-of-type div.inner {
  transform: translateY(80rem);
}
section.u4m-side-cta .link:first-of-type div.outer {
  transform: translateY(80rem);
}
section.u4m-side-cta .link:hover {
  transform: translateX(0rem);
  transition: all 0.5s ease-out;
}
section.u4m-side-cta .link:hover > div.cta > div.outer {
  height: 100%;
  transition: all 0.5s ease-out;
}
@media (max-width: 580px) {
  section.u4m-side-cta .link {
    transform: none;
  }
  section.u4m-side-cta .link:hover {
    transform: none;
  }
  section.u4m-side-cta .link:first-of-type {
    transform: translateX(0rem) translateY(10rem);
  }
  section.u4m-side-cta .link:first-of-type:hover {
    transform: translateX(0rem) translateY(10rem);
  }
  section.u4m-side-cta .link div.outer {
    display: none;
  }
}
section.u4m-side-cta .link:first-of-type .button-wrapper {
  transform: translateY(80rem);
}
section.u4m-side-cta.left-side {
  left: 0;
  right: auto;
}
section.u4m-side-cta.left-side .link {
  transform: translateX(80rem);
}
section.u4m-side-cta.left-side .link div.cta div.inner {
  order: 2;
  border-radius: 0 3rem 3rem 0;
}
section.u4m-side-cta.left-side .link:hover {
  transform: translateX(380rem);
}
section.u4m-side-cta.left-side .link:first-of-type {
  transform: translateX(80rem) translateY(-430rem);
}
section.u4m-side-cta.left-side .link:first-of-type:hover {
  transform: translateX(380rem) translateY(-430rem);
}
@media (max-width: 580px) {
  section.u4m-side-cta.left-side .link:hover {
    transform: translateX(80rem);
  }
  section.u4m-side-cta.left-side .link:first-of-type {
    transform: translateX(80rem) translateY(10rem);
  }
  section.u4m-side-cta.left-side .link:first-of-type:hover {
    transform: translateX(80rem) translateY(10rem);
  }
  section.u4m-side-cta.left-side .link div.outer {
    display: none;
  }
}