<!--
 templateType: global_partial
 label: Footer
 -->

<footer class="ftr_wrpp">
	<div class="inner_wrpp">
		<div class="page-center">
			<div class="top_wrp">
				<div class="left_wrpp">
					{% module "hdr_menu" path="@hubspot/menu" , id=183985627182 , label="Footer Menu",flyouts=false%}
				</div>
				<div class="right_wrpp">
					<div class="inner_wrp">
						<div class="btn">
							{% module "support_button" ,  path="@hubspot/button" , label="Support Button" ,button_text="support", link={ "url": { "type": "EXTERNAL", "href": "/" }, "open_in_new_tab": true, "no_follow": false } ,%}
						</div>
						<div class="btn">
							{% module "pricing_button" ,  path="@hubspot/button" , label="Pricing Button" ,button_text="Pricing", link={ "url": { "type": "EXTERNAL", "href": "/" }, "open_in_new_tab": true, "no_follow": false } ,%}
						</div>
						<div class="cm_ratings">
							{% module "platform_ratings" path="../../modules/u4m-platform-ratings", label="Platform Ratings" %}
						</div>
					</div>
				</div>
			</div>
			<div class="middle_wrp">
				<div class="leftCnt">
					<div class="custom_logo">
						{% module "header_logo" path="@hubspot/logo", label="Header Logo",  img={src= "{{ get_asset_url('../../templates/images/L2L.png') }}", width=52, override_inherited_src= true, alt="Logo alt" } , link="/" %}
					</div>
				</div>
				<div class="centerCnt">
					{% module_block module "normalCnt" path="@hubspot/rich_text" label="Content" %}
					{% module_attribute "html" %}
					Prevent disruptions from happening
					The Connected Workforce platform enhances collaboration, streamlines processes, and boosts product quality.
					{% end_module_attribute %}
					{% end_module_block %}
				</div>
				<div class="rhtCnt">
					{% module "demo_button" ,  path="@hubspot/button" , label="Book A Demo Button" ,button_text="Book a demo", link={ "url": { "type": "EXTERNAL", "href": "/" }, "open_in_new_tab": true, "no_follow": false } ,%}
				</div>
			</div>
			<div class="btm_wrp">
				{% module "cross-platform-support" path="../../modules/u4m-cross-platform-support", label="Cross Platform Support" %}
			</div>
			<div class="copyright">
				<div class="topCntt">
					{% module_block module "normalCnt" path="@hubspot/rich_text" label="Copyright" %}
					{% module_attribute "html" %}
					<p>
						L2L © {{year}}
					</p>
					<ul>
						<li>
							<a href="#">Privacy Policy</a>
						</li>
						<li>
							<a href="#">Terms and Conditions</a>
						</li>
						<li>
							<a href="#">support@l2l.com</a>
						</li>
					</ul>
					{% end_module_attribute %}
					{% end_module_block %}
				</div>
				<div class="social_wrpp">
					{% module "footer_social_share" path="../../modules/u4m-footer-social-share", label="Footer Social Share" %}
				</div>
			</div>
		</div>
	</div>
</footer>