<!--
 templateType: global_partial
 label: Footer no navigation
 -->
<footer class="ftr_wrpp">
  <div class="inner_wrpp">
    <div class="page-center">
      <div class="middle_wrp">
        <div class="leftCnt">
          <div class="custom_logo">
            {% module "ftr_logo" path="@hubspot/logo", label="Logo", img={src=
            "{{ get_asset_url('../../templates/images/L2L_white_logo.webp') }}",
            width=52, override_inherited_src= true, alt="Logo alt" } , link="/"
            %}
          </div>
        </div>
        <div class="centerCnt"></div>
        <div class="rhtCnt"></div>
      </div>
      <div class="btm_wrp"></div>
      <div class="copyright">
        <div class="topCntt">
          {% module_block module "normalCnt" path="@hubspot/rich_text"
          label="Copyright" %} {% module_attribute "html" %}
          <p>L2L © {{year}}</p>
          <ul>
            <li>
              <a href="#">Privacy Policy</a>
            </li>
            <li>
              <a href="#">Terms and Conditions</a>
            </li>
            <li>
              <a href="#">support@l2l.com</a>
            </li>
          </ul>
          {% end_module_attribute %} {% end_module_block %}
        </div>
      </div>
    </div>
  </div>
</footer>
