html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

section.u4m-section-intro {
  margin-top: 100rem;
  margin-bottom: 100rem;
  text-align: center;
}
section.u4m-section-intro.reverse-text {
  color: #fff;
}
@media (max-width: 580px) {
  section.u4m-section-intro {
    margin-top: 50rem;
    margin-bottom: 50rem;
  }
}
section.u4m-section-intro .inner {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1224rem;
  padding-left: 20rem;
  padding-right: 20rem;
  max-width: 1000rem;
}
@media (max-width: 580px) {
  section.u4m-section-intro .inner img.image {
    max-width: 100%;
  }
}
section.u4m-section-intro .inner .heading {
  font-size: 48rem;
  margin-bottom: 30rem;
  line-height: 1.125;
  color: #0e2514;
  font-family: "Inter";
  font-weight: bold;
  letter-spacing: -0.5px;
}
@media (max-width: 1024px) {
  section.u4m-section-intro .inner .heading {
    font-size: 38rem;
  }
}
@media (max-width: 580px) {
  section.u4m-section-intro .inner .heading {
    font-size: 32rem;
    margin-bottom: 20rem;
  }
}
section.u4m-section-intro .inner div.link a {
  line-height: 1.71;
  font-size: 14rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Sofia Sans";
  display: flex;
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
  border-radius: 8px;
  transition: 0.3s ease;
  border: 1px solid;
  text-decoration: none;
  padding: 13rem 30rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #409650;
  border-color: #409650;
  cursor: pointer;
}
section.u4m-section-intro .inner div.link a:hover {
  border-radius: 21px;
  color: #c0fc95;
  background-color: #2c6938;
  border-color: #2c6938;
}
section.u4m-section-intro .inner div.link a:active {
  border-radius: 21px;
  color: #9bf75f;
  background-color: #275430;
  border-color: #275430;
}
section.u4m-section-intro .inner div.link a:disabled {
  border-radius: 8px;
  color: #fff;
  background-color: #969696;
  border-color: #969696;
}