@import "../../css/_module-imports";

.u4m-animated-stats {
  &.dnd_padd {
    padding-top: 84px;
    padding-bottom: 75px;
  }
  .page-center {
    padding-right: 15px;
    padding-left: 15px;
  }
  .intro_content {
    margin-bottom: 20px;
    .intro_title {
      font-weight: 600;
      line-height: 1.1875;
      letter-spacing: -0.5px;
    }
  }
  .statistics {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    row-gap: 20px;
    .statistics__item {
      width: 25%;
      padding: 0 15px;
      text-align: center;
      @include tabletmid {
        width: 50%;
      }
      @include tabletvert {
        width: 100%;
      }
      .statistics_count {
        @include h1;
        font-family: $tertiaryFont;
        font-weight: 600;
        line-height: 1.87402778;
        letter-spacing: 0.25px;
        text-align: center;
        margin-bottom: 0;
        color: $baseColor;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 2px;
        .prefix {
          color: $L2L_green;
        }
      }
      .statistics_caption {
        @include bodyStyle;
        text-align: center;
        font-family: $secondaryFont;
      }
    }
  }
  .statistics_btn_wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 62px;
    gap: 20px;
    a {
      font-family: $secondaryFont;
      padding-top: 5px;
      padding-bottom: 5px;
      line-height: 3;
    }
  }
  &.reverse-text {
    .statistics {
      .statistics__item {
        .statistics_count {
          color: $White;
          .prefix {
            color: $White;
          }
        }
        .statistics_caption {
          color: $White;
        }
      }
    }
  }
}
