html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

.u4m-animated-stats.dnd_padd {
  padding-top: 84px;
  padding-bottom: 75px;
}
.u4m-animated-stats .page-center {
  padding-right: 15px;
  padding-left: 15px;
}
.u4m-animated-stats .intro_content {
  margin-bottom: 20px;
}
.u4m-animated-stats .intro_content .intro_title {
  font-weight: 600;
  line-height: 1.1875;
  letter-spacing: -0.5px;
}
.u4m-animated-stats .statistics {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  row-gap: 20px;
}
.u4m-animated-stats .statistics .statistics__item {
  width: 25%;
  padding: 0 15px;
  text-align: center;
}
@media (max-width: 991px) {
  .u4m-animated-stats .statistics .statistics__item {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .u4m-animated-stats .statistics .statistics__item {
    width: 100%;
  }
}
.u4m-animated-stats .statistics .statistics__item .statistics_count {
  font-size: 72rem;
  font-family: "Sofia Sans";
  font-weight: bold;
  letter-spacing: -0.5px;
  margin-bottom: 30rem;
  line-height: 1.0833;
  margin-top: 0;
  color: #0e2514;
  font-family: "Cairo";
  font-weight: 600;
  line-height: 1.87402778;
  letter-spacing: 0.25px;
  text-align: center;
  margin-bottom: 0;
  color: #2e2e2e;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 2px;
}
@media (max-width: 1024px) {
  .u4m-animated-stats .statistics .statistics__item .statistics_count {
    font-size: 48rem;
  }
}
@media (max-width: 580px) {
  .u4m-animated-stats .statistics .statistics__item .statistics_count {
    font-size: 38rem;
    margin-bottom: 20rem;
  }
}
.u4m-animated-stats .statistics .statistics__item .statistics_count .prefix {
  color: #409650;
}
.u4m-animated-stats .statistics .statistics__item .statistics_caption {
  font-size: 21rem;
  line-height: 1.57;
  color: #2e2e2e;
  font-family: "Inter";
  font-weight: 400;
  text-align: center;
  font-family: "Inter";
}
.u4m-animated-stats .statistics_btn_wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 62px;
  gap: 20px;
}
.u4m-animated-stats .statistics_btn_wrap a {
  font-family: "Inter";
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 3;
}
.u4m-animated-stats.reverse-text .statistics .statistics__item .statistics_count {
  color: #ffffff;
}
.u4m-animated-stats.reverse-text .statistics .statistics__item .statistics_count .prefix {
  color: #ffffff;
}
.u4m-animated-stats.reverse-text .statistics .statistics__item .statistics_caption {
  color: #ffffff;
}