{% macro buttonGroup(items)%}
{% if items %}
<div class="intro_btn_wrap">
  {% for item in items %}
  <div class="btn_item">
    {% if item.button_type == "std" %}
    {% set href = item.link.url.href %}
    {% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
    {% set href = "mailto:" + href %}
    {% endif %}
    <a class="{{ item.button_style ? item.button_style : "hs-button" }} {{item.button_theme}}"
       {% if item.link.url.type is equalto "CALL_TO_ACTION"  %}
       href="{{ href }}" 
       {% else %}
       href="{{ href }}"
       {% endif %}
       {% if item.link.open_in_new_tab %}
       target="_blank"
       {% endif %}
       {% if item.link.rel %}
       rel="{{ item.link.rel }}"
       {% endif %}>
      <span>{{ item.button_text }}</span>
      {% if item.button_style=="hs-button" %}
      {% if item.enable_arrow %}
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.75 12H20.25Z" fill="currentcolor"/>
        <path d="M3.75 12H20.25" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      {% endif %}
      {% elif item.button_style=="arrow-link" %}
      <span class="arrowbtn">
        <svg class="btnArrow1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M6 18L18 6Z" fill="#6ABE7A"/>
          <path d="M6 18L18 6" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M8.25 6H18V15.75" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <svg class="btnArrow2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M6 18L18 6Z" fill="#6ABE7A"/>
          <path d="M6 18L18 6" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M8.25 6H18V15.75" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </span>
      {% endif %}
    </a>
    {% endif %}
    {% if item.button_type == "cta" %}
    {% cta guid="{{ item.cta }}" %}
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endif %}
{% endmacro%}
{% set moduleName = 'u4m-slider-tabs-one' %}
{% include "../partials/u4-module-includes.html" %}
<div class="page-center  {{ module.module_settings.theme }}">
  <div class="intro_wrapp">
    {{macros.introGroup(module.intro_content)}}
  </div>
  <div class="slider-tabs-wrp desktop-wrpp">
    <div class="slider-tabs-inn">
      <div class="slider-tabs">
        <ul>
          {% for item in module.tab_items %}
          <li data-id="{{ item.tab.title|split(" ")|join("-")|capitalize }}{{loop.index}}"  class="tablinks  tab {% if loop.first %}active{% endif %}">
            <div class="tab-title">
              {% if item.tab.select_icon_type %}
              <span class="title-icon">
                {% if item.tab.select_icon_type == "image" %}
                {% if item.tab.image_field_1.src %}
                {% set loadingAttr = item.tab.image_field_1.loading != 'disabled' ? 'loading="{{ item.tab.image_field_1.loading|escape_attr }}"' : '' %}
                <img src="{{ item.tab.image_field_1.src|escape_url }}" alt="{{ item.tab.image_field_1.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
                {% endif %}
                {% elif item.tab.select_icon_type == "icon" %}
                {% icon
		name="{{ item.tab.icon_field.name }}"
		style="{{ item.tab.icon_field.type }}"
		unicode="{{ item.tab.icon_field.unicode }}"
		icon_set="{{ item.tab.icon_field.icon_set }}"
	%}
                {% elif item.tab.select_icon_type == "custom" %}
                <i class="ph ph-{{ item.tab.custom_icon }}"></i>
                {% endif %}
              </span>
              {% endif %} 
              <span>
                {{ item.tab.title }}
              </span>
            </div>
            {% if item.tab.caption %}
            <div class="tab-title-caption">
              {{ item.tab.caption }}
            </div>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="slider-tabs-content">
        <div class="slider-content-inn">
          {% for item in module.tab_items %}
          <div class="tabcontent tabs-content {% if loop.first %}active{% endif %}" id="{{ item.tab.title|split(" ")|join("-")|capitalize }}{{loop.index}}">
            <div class="tabs-content-inn">
              {% if item.tab_content.select_media_type == "image" %}
              {% if item.tab_content.image_field.src %}
              {% set loadingAttr = item.tab_content.image_field.loading != 'disabled' ? 'loading="{{ item.tab_content.image_field.loading|escape_attr }}"' : '' %}
              <img class="tab-cnt-img" src="{{ item.tab_content.image_field.src|escape_url }}" alt="{{ item.tab_content.image_field.alt|escape_attr }}" {{ loadingAttr }}>
              {% endif %}
              {% endif %}

              {% if item.tab_content.select_media_type == "video" %}
              {% if item.tab_content.select_video_type == "hubspot" %}
              <video controls autoplay muted>
                <source src="{{ item.tab_content.select_video }}" type="video/mp4">
              </video>
              {% endif %}
              {% if item.tab_content.select_video_type == "vimeo" %}
              <div class="embbd">
                <iframe title="video-Frame" id="iframe1" src="https://player.vimeo.com/video/{{ item.tab_content.vimeo_id }}" frameborder="0" loading="lazy" allowfullscreen></iframe>
              </div>
              {% endif %}
              {% endif %}

              {% if item.tab_content.content %}
              <div class="cnt">
                {{ item.tab_content.content }}
              </div>
              {% endif %}
              {% if item.tab_content.include_button %}
              {{buttonGroup(item.tab_content.button_group)}}
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="slider-tabs-wrp mobile-wrpp">
    <div class="slider-tabs-inn">
      <div class="slider-tabs">
        <ul>
          {% for item in module.tab_items %}
          <li data-id="{{ item.tab.title|split(" ")|join("-")|capitalize }}{{loop.index}}"  class="tablinks  tab {% if loop.first %}active{% endif %}">
            <div class="topCnt">
              <span class="plus">

                <svg width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Module-Designs" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Accordion" transform="translate(-1343, -408)">
                      <g id="Group-2-Copy" transform="translate(203, 372)">
                        <g id="Icons/barricade" transform="translate(1140, 36)">
                          <g id="Group">
                            <rect id="Rectangle" x="0" y="0" width="18" height="18"></rect>
                          </g>
                          <g id="Group">
                            <rect id="Rectangle" x="0" y="0" width="18" height="18"></rect>
                            <line x1="2.8125" y1="9.01484375" x2="15.1875" y2="9.01484375" id="Path" stroke="#C8EACE" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round"></line>
                            <line x1="9.01484375" y1="2.8125" x2="9.01484375" y2="15.1875" id="Path" stroke="#C8EACE" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round"></line>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
              </span>
              <div class="tab-title">
                {% if item.tab.select_icon_type %}
                <span class="title-icon">
                  {% if item.tab.select_icon_type == "image" %}
                  {% if item.tab.image_field_1.src %}
                  {% set loadingAttr = item.tab.image_field_1.loading != 'disabled' ? 'loading="{{ item.tab.image_field_1.loading|escape_attr }}"' : '' %}
                  <img src="{{ item.tab.image_field_1.src|escape_url }}" alt="{{ item.tab.image_field_1.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
                  {% endif %}
                  {% elif item.tab.select_icon_type == "icon" %}
                  {% icon
		name="{{ item.tab.icon_field.name }}"
		style="{{ item.tab.icon_field.type }}"
		unicode="{{ item.tab.icon_field.unicode }}"
		icon_set="{{ item.tab.icon_field.icon_set }}"
	%}
                  {% elif item.tab.select_icon_type == "custom" %}
                  <i class="ph ph-{{ item.tab.custom_icon }}"></i>
                  {% endif %}
                </span>
                {% endif %}
                <span>
                  {{ item.tab.title }}
                </span>
              </div>
              {% if item.tab.caption %}
              <div class="tab-title-caption">
                {{ item.tab.caption }}
              </div>
              {% endif %}
            </div>
            <div class="slider-tabs-content">
              <div class="slider-content-inn">
                <div class="tabcontent tabs-content {% if loop.first %}active{% endif %}" id="{{ item.tab.title|split(" ")|join("-")|capitalize }}{{loop.index}}">
                  <div class="tabs-content-inn">
                    {% if item.tab_content.select_media_type == "image" %}
                    {% if item.tab_content.image_field.src %}
                    {% set loadingAttr = item.tab_content.image_field.loading != 'disabled' ? 'loading="{{ item.tab_content.image_field.loading|escape_attr }}"' : '' %}
                    <img class="tab-cnt-img" src="{{ item.tab_content.image_field.src|escape_url }}" alt="{{ item.tab_content.image_field.alt|escape_attr }}" {{ loadingAttr }}>
                    {% endif %}
                    {% endif %}

                    {% if item.tab_content.select_media_type == "video" %}
                    {% if item.tab_content.select_video_type == "hubspot" %}
                    <video controls autoplay muted>
                      <source src="{{ item.tab_content.select_video }}" type="video/mp4">
                    </video>
                    {% endif %}
                    {% if item.tab_content.select_video_type == "vimeo" %}
                    <div class="embbd">
                      <iframe title="video-Frame" id="iframe1" src="https://player.vimeo.com/video/{{ item.tab_content.vimeo_id }}" frameborder="0" loading="lazy" allowfullscreen></iframe>
                    </div>
                    {% endif %}
                    {% endif %}

                    {% if item.tab_content.content %}
                    <div class="cnt">
                      {{ item.tab_content.content }}
                    </div>
                    {% endif %}

                    {% if item.tab_content.include_button %}
                    {{ buttonGroup(item.tab_content.button_group)}}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>

</div>
</section>



{% require_js %}
<script>
  var tabLinks = document.querySelectorAll(".desktop-wrpp  .tablinks");
  var tabContent = document.querySelectorAll(".desktop-wrpp .tabcontent");


  tabLinks.forEach(function(el) {
    el.addEventListener("click", openTabs);
  });



  function openTabs(el) {
    var btnTarget = el.currentTarget;
    var tabId = btnTarget.dataset.id;

    tabContent.forEach(function(el) {
      el.classList.remove("active");
    });

    tabLinks.forEach(function(el) {
      el.classList.remove("active");
    });

    document.querySelector("#" + tabId).classList.add("active");

    btnTarget.classList.add("active");
  }

  $('.mobile-wrpp .topCnt').click(function(){
    //     $(this).parent().siblings().find('.slider-tabs-content').slideUp();
    $(this).parent().siblings().removeClass('active');
    //     $(this).next('.slider-tabs-content').slideToggle();
    $(this).parent().toggleClass('active');
  })


</script>
{% end_require_js %}












