{% set moduleName = 'u4m-slider-tabs-left' %}
{% include "../partials/u4-module-includes.html" %}


<div class="page-center  {{ module.module_settings.theme }} {% if module.module_settings.top_content_left_align %}top_content_left {% endif %}">
  <div class="intro_wrapp">
    {{macros.introGroup(module.intro_content)}}
  </div>
</div>
<div class="slider-tabs-wrapper {% if module.module_settings.make_content_full_width %}tab_content_full{% endif %}">
  <div class="page-center">
    <div class="row">
      <div class="left_col carousel">
        {% for item in module.accordion_items %}

        <div class="img-items {{item.select_media_type}} {% if loop.first %}acc-open{% endif %}{% if item.video || item.image_field.src %}{% else %} nomedia{% endif%}" data-img="data{{ loop.index }}">

          {% if item.select_media_type == "video" %}
          {% if item.video %}
          <div class="video_player_box">
            <video src="{{ item.video }}" autoplay="" muted="" controls="" controlslist="nodownload"></video>
          </div>
          {% endif %}

          {% else %}
          {% if item.image_field.src %}
          <img src="{{ item.image_field.src }}" alt="{{ item.image_field.alt }}">
          {% endif %}
          {% endif %}
        </div>
        {% endfor %}




      </div>
      <div class="right_col">
        <div class="accordion-section slider_navbar">
          {% for item in module.accordion_items %}
          <div class="acc-items media_{{item.select_media_type}} {% if loop.first %}acc-open animateDiv{% endif %}">
            <div class="acc-count">
              <span>{% if loop.index < 10 %}0{% endif %}{{ loop.index }}</span>
              <div class="title-section" acc-data="data{{ loop.index }}">
                <div class="title_inner">
                  {% if item.title %}
                  <h3>
                    {{ item.title }}
                  </h3>
                  {% endif %}


                  {% set href = item.link.url.href %}
                  {% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
                  {% set href = "mailto:" + href %}
                  {% endif %}
                  <a class="icon arrow-link {% if not href %}nolink{% endif %}"
                     {% if href %} {% if item.link.url.type is equalto "CALL_TO_ACTION"  %}
                     href="{{ href }}"
                     {% else %}
                     href="{{ href|escape_url }}"
                     {% endif %}
                     {% if item.link.open_in_new_tab %}
                     target="_blank"
                     {% endif %}
                     {% if item.link.rel %}
                     rel="{{ item.link.rel|escape_attr }}"
                     {% endif %}
                     {% else %}href="javascript:voild;"{% endif %}>
                    <span class="plus-icons">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px" viewBox="0 0 36 36" version="1.1">
                        <title>Icons/arrow-2</title>
                        <g id="Module-Designs" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.45">
                          <g id="Slider-Tabs-|-Left" transform="translate(-1361, -168)">
                            <g id="Group-6" transform="translate(200, 142)">
                              <g id="Group-5" transform="translate(717, 26)">
                                <g id="Icons/arrow-2" transform="translate(444, 0)">
                                  <g id="Group">
                                    <rect id="Rectangle" x="0" y="0" width="36" height="36"/>
                                  </g>
                                  <g id="Group">
                                    <rect id="Rectangle" x="0" y="0" width="36" height="36"/>
                                    <line class="line1" x1="5.625" y1="18" x2="30.375" y2="18" id="Path" stroke="#FFFFFF" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                                    <line class="line2" x1="18" y1="5.625" x2="18" y2="30.375" id="Path" stroke="#FFFFFF" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                                  </g>
                                </g>
                              </g>
                            </g>
                          </g>
                        </g>
                      </svg>
                    </span>
                    {% if href %}
                    <span class="arrowbtn">
                      <svg class="btnArrow1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px" viewBox="0 0 36 36" version="1.1">
                        <title>Icons/arrow-2</title>
                        <g id="Module-Designs" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Slider-Tabs-|-Left" transform="translate(-1361, -276)">
                            <g id="Group-6" transform="translate(200, 142)">
                              <g id="Group-5" transform="translate(717, 26)">
                                <g id="Group" transform="translate(444, 108)">
                                  <rect id="Rectangle" x="0" y="0" width="36" height="36"/>
                                  <line x1="9" y1="27" x2="27" y2="9" id="Path" stroke="#FFFFFF" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                                  <polyline id="Path" stroke="#FFFFFF" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round" points="12.375 9 27 9 27 23.625"/>
                                </g>
                              </g>
                            </g>
                          </g>
                        </g>
                      </svg>
                      <svg class="btnArrow2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px" viewBox="0 0 36 36" version="1.1">
                        <title>Icons/arrow-2</title>
                        <g id="Module-Designs" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Slider-Tabs-|-Left" transform="translate(-1361, -276)">
                            <g id="Group-6" transform="translate(200, 142)">
                              <g id="Group-5" transform="translate(717, 26)">
                                <g id="Group" transform="translate(444, 108)">
                                  <rect id="Rectangle" x="0" y="0" width="36" height="36"/>
                                  <line x1="9" y1="27" x2="27" y2="9" id="Path" stroke="#FFFFFF" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                                  <polyline id="Path" stroke="#FFFFFF" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round" points="12.375 9 27 9 27 23.625"/>
                                </g>
                              </g>
                            </g>
                          </g>
                        </g>
                      </svg>

                    </span>
                    {% endif %}
                  </a>
                </div>
                <div class="progress"><div class="progress-line"></div></div>
              </div>
            </div>
            {% if item.content %}
            <div class="toggle_section">

              {{ item.content }}
              <div class="img-wrpp">
                {#                 {% if item.image_field.src %}
                <img src="{{ item.image_field.src }}" alt="{{ item.image_field.alt }}">
                {% endif %}
 #}
                {% if item.select_media_type == "video" %}
                {% if item.video %}
                <div class="video_player_box">
                  <video src="{{ item.video }}" autoplay="" muted="" controls="" controlslist="nodownload"></video>
                </div>
                {% endif %}

                {% else %}
                {% if item.image_field.src %}
                <img src="{{ item.image_field.src }}" alt="{{ item.image_field.alt }}">
                {% endif %}
                {% endif %}

              </div>
            </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
</section>


{% require_css%}
<style>
  .u4m-slider-tabs-left   .accordion-section .slick-track {
    transform: none !important;
    height: auto !important;
    overflow: visible !important;
  }

  .u4m-slider-tabs-left  .accordion-section .slick-list.draggable {
    height: auto !important;
  }

  .u4m-slider-tabs-left  .video_player_box {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    display: inline-flex;
    margin: auto;
    border-radius: 25px;
  }

  .u4m-slider-tabs-left  .video_player_box video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0;
    display: block;
    border-radius: 25px;
  }

  .u4m-slider-tabs-left .slider-tabs-wrapper .img-items.video.slick-slide {
    display: flex;
  }


  .u4m-slider-tabs-left .slider-tabs-wrapper .left_col .img-items{
    display: block;
  }

  .u4m-slider-tabs-left .slider-tabs-wrapper .toggle_section {
    display: none;
  }

  .u4m-slider-tabs-left .slider-tabs-wrapper .acc-open .toggle_section {
    display: block;
  }

  .u4m-slider-tabs-left  .accordion-section .slick-track:after,
  .u4m-slider-tabs-left .accordion-section .slick-track:before {
    content: '';
    display: none;
  }

  .u4m-slider-tabs-left  .accordion-section .slick-track {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }

  .u4m-slider-tabs-left .slider-tabs-wrapper   .acc-items:not(.media_video) .progress-line {
    transition-duration: {{ module.module_settings.slider_duration * 1000 }}ms;
  }

  .u4m-slider-tabs-left .slider-tabs-wrapper .acc-open .progress-line {
    width: 100%;
    /*     transition-duration: 3000ms; */
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: width;
  }



  .u4m-slider-tabs-left .slider-tabs-wrapper .progress-line {
    width: 0;
  }

</style>
{% end_require_css%}

{% require_js%}


<script>
  var isPlaying = true;
  var videoPlaying = false;

  $('.{{name}} .slider-tabs-wrapper .left_col').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: false,
    fade: true,
    dots: false,
    autoplay: isPlaying,
    speed: 1000,
    autoplaySpeed: {{ module.module_settings.slider_duration * 1000 }},
    pauseOnHover: true,
    asNavFor: '.{{name}} .slider_navbar',
  });
  $('.{{name}} .accordion-section').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    vertical: true,
    asNavFor: '.{{name}} .slider-tabs-wrapper .left_col',
    dots: false,
    focusOnSelect: true,
    verticalSwiping: true,
    infinite: false,
    pauseOnHover: true,
    speed: 1000,
    autoplaySpeed: {{ module.module_settings.slider_duration * 1000 }},
    arrows: false,
    responsive: [
      {
        breakpoint: 991,
        settings: {
          verticalSwiping: false,
        },
      },
    ],
  });


  $(".{{name}} .slider-tabs-wrapper .left_col").on(
    "beforeChange",
    function (event, slick, currentSlide, nextSlide) {
      var nextSlideElement = slick.$slides[nextSlide];

      if ($(nextSlideElement).find("video").length > 0) {
        var getLength = $(nextSlideElement).find("video").length
        var getDuration = $(nextSlideElement).find("video").duration

        $(".{{name}} .carousel").slick("slickPause");
      }
    }
  );

  //   =========

  $(".{{name}} .slider-tabs-wrapper .left_col").on("afterChange", function (event, slick, currentSlide) {
    var currentSlideElement = slick.$slides[currentSlide];

    var getSameIndexParent = $('.{{name}} .acc-items.slick-slide[data-slick-index="' + currentSlide + '"]');

    // Remove inline CSS from all .progress-line elements
    $('.{{name}} .progress-line').removeAttr('style');

    // Pause and mute all sibling videos except the active slide
    $(".{{name}} .slider-tabs-wrapper .left_col .img-items").each(function () {
      var getThis = $(this);
      if (!getThis.hasClass('slick-current slick-active') && getThis.find("video").length > 0) {
        var siblingVideo = getThis.find("video")[0];
        siblingVideo.pause();
        siblingVideo.currentTime = 0;
        siblingVideo.muted = true;
//         console.log('Paused and muted sibling video');
      }
    });

    // Handle video in the current slide
    if ($(currentSlideElement).find("video").length > 0) {
      var video = $(currentSlideElement).find("video")[0];

      var getSameIndex = getSameIndexParent.find('.progress-line');

      // Reset and load the video
      video.pause();
      video.currentTime = 0;
      video.load();

      video.onloadedmetadata = function () {
        let duration = video.duration;
        let totalTransitionDuration = (duration + 0.8) * 1000 + "ms";

        // Set the transition duration for the progress line
        $(getSameIndex).css({
          "transition-duration": totalTransitionDuration
        });
//         console.log('Duration set:', totalTransitionDuration);

        // Add animation class to current slide
        $('.{{name}} .acc-items.slick-slide').removeClass('acc-open');
        getSameIndexParent.addClass('acc-open');

        // Start video playback
        setTimeout(function () {
          video.play();
          //           video.muted = false;
//           console.log('Video playing');
        }, 100);

        videoPlaying = true;

        video.onended = function () {
          videoPlaying = false;
          video.pause();
          video.currentTime = 0;
          video.muted = true;

          // Remove transition effect after video ends
          $(getSameIndex).removeAttr('style');
//           console.log('Duration removed');

          // Move to the next slide after video ends
          $(".{{name}} .slider-tabs-wrapper .left_col").slick("slickPlay");
          $(".{{name}} .slider-tabs-wrapper .left_col").slick("slickNext");
        };
      };

      video.onerror = function () {
        console.error("Error loading video");
        $(".{{name}} .slider-tabs-wrapper .left_col").slick("slickPlay");
      };
    } else {
      // If the current slide has no video, add animation class and continue autoplay
      $('.{{name}} .acc-items.slick-slide').removeClass('acc-open');
      getSameIndexParent.addClass('acc-open');
      $(".{{name}} .slider-tabs-wrapper .left_col").slick("slickPlay");
    }
  });



  $(".{{name}} .slider-tabs-wrapper .left_col").on(
    "beforeChange",
    function (event, slick, currentSlide, nextSlide) {
      if (videoPlaying) {
        event.stopImmediatePropagation();
      }
    }
  );

  // Pause the Slick slider on mouse hover
  $('.{{name}} .slider-tabs-wrapper .page-center').on('mouseenter', function () {
    $(".{{name}} .slider-tabs-wrapper .slick-slider").slick('slickPause'); 
//     console.log('mouseenter  pause update')
  });

  // Resume the Slick slider when mouse leaves
  $('.{{name}}  .slider-tabs-wrapper .page-center').on('mouseleave', function () {
    $(".{{name}} .slider-tabs-wrapper .slick-slider").slick('slickPlay');
//     console.log('mouseleave play Update')
  });



</script>

{% end_require_js%}