html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

section.u4m-quote-cards {
  padding-top: 100rem;
  background-color: #edf0f2;
}
section.u4m-quote-cards.reverse-text .heading {
  color: #fff;
}
section.u4m-quote-cards .heading {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1224rem;
  padding-left: 20rem;
  padding-right: 20rem;
  max-width: 1280rem;
  font-size: 48rem;
  margin-bottom: 30rem;
  line-height: 1.125;
  color: #0e2514;
  font-family: "Sofia Sans";
  font-weight: bold;
  letter-spacing: -0.5px;
  margin-top: 0;
  text-align: center;
}
@media (max-width: 1024px) {
  section.u4m-quote-cards .heading {
    font-size: 38rem;
  }
}
@media (max-width: 580px) {
  section.u4m-quote-cards .heading {
    font-size: 32rem;
    margin-bottom: 20rem;
  }
}
section.u4m-quote-cards div.dialog-bubbles {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1224rem;
  padding-left: 20rem;
  padding-right: 20rem;
  max-width: 1280rem;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 580px) {
  section.u4m-quote-cards div.dialog-bubbles {
    display: block;
  }
}
section.u4m-quote-cards div.dialog-bubbles div.item {
  margin: 20rem 20rem 160rem 20rem;
  padding: 30rem;
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
  background: #fff;
  text-align: center;
  position: relative;
}
@media (max-width: 580px) {
  section.u4m-quote-cards div.dialog-bubbles div.item {
    margin-bottom: 180rem;
  }
}
section.u4m-quote-cards div.dialog-bubbles div.item p.quote {
  font-family: "Sofia Sans";
  font-size: 14rem;
  line-height: 1.6;
  letter-spacing: 0.35rem;
  margin-bottom: 20rem;
}
@media (max-width: 580px) {
  section.u4m-quote-cards div.dialog-bubbles div.item p.quote {
    font-size: 14rem;
  }
}
section.u4m-quote-cards div.dialog-bubbles div.item p.author {
  font-family: "Sofia Sans";
  font-size: 14rem;
  line-height: 1.6;
  letter-spacing: 0.35rem;
  margin-bottom: 20rem;
}
@media (max-width: 580px) {
  section.u4m-quote-cards div.dialog-bubbles div.item p.author {
    font-size: 14rem;
  }
}
section.u4m-quote-cards div.dialog-bubbles div.item span {
  color: #733bf7;
  font-weight: bold;
}
section.u4m-quote-cards div.dialog-bubbles div.item:before {
  content: "";
  position: absolute;
  bottom: -14rem;
  left: calc(50% - 13rem);
  border-width: 14rem 14rem 0;
  border-style: solid;
  border-color: rgba(203, 214, 226, 0.11) transparent;
  display: block;
  width: 0;
}
section.u4m-quote-cards div.dialog-bubbles div.item:after {
  content: "";
  position: absolute;
  bottom: -13rem;
  left: calc(50% - 12rem);
  border-width: 13rem 13rem 0;
  border-style: solid;
  border-color: #fff transparent;
  display: block;
  width: 0;
}
section.u4m-quote-cards div.dialog-bubbles div.item div.thumbnail {
  position: absolute;
  bottom: -130rem;
  width: 100rem;
  height: 100rem;
  background-size: cover;
  background-position: 50%;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
}
section.u4m-quote-cards div.centered-button {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1224rem;
  padding-left: 20rem;
  padding-right: 20rem;
  text-align: center;
  padding: 30rem 0 50rem 0;
}
section.u4m-quote-cards div.centered-button a {
  line-height: 1.71;
  font-size: 14rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Sofia Sans";
  display: flex;
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
  border-radius: 8px;
  transition: 0.3s ease;
  border: 1px solid;
  text-decoration: none;
  padding: 13rem 30rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #409650;
  border-color: #409650;
  cursor: pointer;
}
section.u4m-quote-cards div.centered-button a:hover {
  border-radius: 21px;
  color: #c0fc95;
  background-color: #2c6938;
  border-color: #2c6938;
}
section.u4m-quote-cards div.centered-button a:active {
  border-radius: 21px;
  color: #9bf75f;
  background-color: #275430;
  border-color: #275430;
}
section.u4m-quote-cards div.centered-button a:disabled {
  border-radius: 8px;
  color: #fff;
  background-color: #969696;
  border-color: #969696;
}