@import "../../css/_module-imports";

section.u4m-cta-row-1 {
  .page-center {
    padding-left: 15rem;
    padding-right: 15rem;

    .cta-content-row {
      border-radius: 34px;
      overflow: hidden;
      position: relative;

      .bg_overlay.bg_color {
        border-radius: 40px;
      }

      &.bg_image {
        .bg_overlay.bg_image {
          @include tablet {
            max-height: 380px;
            background-position: right;
          }

          @include phone {
            max-height: 54vw;
          }
        }

        .bg_overlay.bg_color {
          background-image: linear-gradient(250deg,
              rgba(23, 32, 27, 0) 2%,
              #101813 42%);
          width: 100%;
          max-width: 50%;
          height: 100%;
          top: 50%;
          transform: translateY(-50%);

          @include tablet {
            max-width: 100%;
          }
        }
      }

      .cta-content-flex {
        &.full_width {
          flex-direction: column-reverse;
          flex-wrap: wrap;

          .col6 {
            width: 100%;
            max-width: 100%;
            background: transparent;

            .intro_wrapp_inn {
              .intro_content {
                max-width: 100%;
                text-align: center;

                .intro__inner {
                  .intro_btn_wrap {
                    justify-content: center;
                  }
                }
              }
            }
          }
        }

        @include tablet {
          flex-direction: column-reverse;
        }

        .intro_wrapp {
          padding: 65px 10px 77px 72px;
          max-width: 565px;

          @include tablet {
            padding: 65px 20px 77px;
            max-width: 100%;
            width: 100%;
          }

          @include phone {
            padding: 35px 20px;
          }

          .intro_wrapp_inn {
            .intro_content {
              max-width: 504rem;
              text-align: left;
              margin: 0;

              .intro__inner {
                .intro_title {
                  font-weight: 500;
                }

                .intro_btn_wrap {
                  justify-content: flex-start;
                }
              }
            }

            .cta-form {
              @include subscribeForm;
              margin-top: 36px;

              form {
                .hs-form-field {
                  margin-bottom: 24rem;

                  .hs-form-field.hs-fieldtype-booleancheckbox {
                    margin-bottom: 0;
                  }

                  .hs-input {
                    border: none;
                    padding: 22px 144px 22px 30px !important;
                  }

                  ul.inputs-list {
                    li {
                      label {
                        position: relative;
                        padding-left: 36px;
                        cursor: pointer;

                        input.hs-input {
                          padding: 0 !important;
                          width: 0;
                          height: 24px;
                          background: transparent;
                          border-color: $Prismic_mango;
                          vertical-align: middle;
                          top: 0;
                          margin-right: 0;
                          position: absolute;
                          left: 0;
                          top: 50%;
                          transform: translateY(-50%);

                          &:before {
                            position: relative;
                            display: block;
                            width: 24px;
                            height: 24px;
                            border: 1px solid #f7c36e;
                            content: "";
                            background: transparent;
                            border-radius: 5px;
                            min-width: 24px;
                          }

                          &:after {
                            position: relative;
                            display: block;
                            width: 12px;
                            height: 12px;
                            min-width: 12px;
                            content: "";
                            position: absolute;
                            top: 6px;
                            left: 6px;
                          }

                          &:checked::after {
                            background-image: url("https://www.l2l.com/hubfs/L2L-u4m/images/Arrow.svg");
                            background-repeat: no-repeat no-repeat;
                            background-position: center center;
                            background-size: cover;
                          }
                        }

                        span {
                          color: inherit;

                          a {
                            text-decoration: underline;
                          }
                        }
                      }
                    }
                  }
                }

                .hs_error_rollup {
                  display: none;
                }
              }
            }
          }

          &.col12 {
            padding: 65px 72px 77px;
            background: transparent;
            max-width: 100%;

            @include tablet {
              padding: 65px 20px 77px;
            }

            .intro_content {
              max-width: 100%;
              text-align: center;

              .intro__inner {
                .intro_btn_wrap {
                  justify-content: center;
                }
              }
            }
          }
        }

        .right_col {
          @include tablet {
            width: 80%;
            min-height: 250px;
            margin: 0 auto;

          }

          @include phone {
            width: 100%;
            min-height: 50vw;
          }

          .media_col_inn {
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;

            .videoWrap {
              width: 100%;
              display: flex;
              align-items: center;

              >* {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  .intro_wrapp {
    background: $white;
  }

  &.reverse-text {
    .intro_wrapp {
      background: $customDarkBg;
    }
  }
}