{% set moduleName = 'u4m-slider-gallery' %}
{% include "../partials/u4-module-includes.html" %}

{% macro plyicon()%}

<svg xmlns="http://www.w3.org/2000/svg" width="39" height="47" viewBox="0 0 39 47" fill="none">
  <path d="M4.07615 45.7644L37.3413 25.9068C39.1529 24.8249 39.1529 22.1212 37.3413 21.0393L4.07615 1.18165C2.26453 0.0997255 0 1.45156 0 3.61541V43.333C0 45.4968 2.26453 46.8487 4.07615 45.7667V45.7644Z" ></path>
</svg>

{% endmacro%}

<div class="page-center  {{ module.module_settings.theme }}">
  <div class="intro_wrapp"> 
    {{macros.introGroup(module.intro_content)}}
  </div>

  <div class="btm_wrp">
    <div class="innerCntt sliderCnntt">
      {% for item in module.items_group %}
      <div class="items_wrp">
        {% if item.type == 'image'%}
        {% if item.image_field.src %}
        {% set sizeAttrs = 'width="{{ item.image_field.width|escape_attr }}" height="{{ item.image_field.height|escape_attr }}"' %}
        {% if item.image_field.size_type == 'auto' %}
        {% set sizeAttrs = 'width="{{ item.image_field.width|escape_attr }}" height="{{ item.image_field.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
        {% elif item.image_field.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ item.image_field.max_width|escape_attr }}" height="{{ item.image_field.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
        {% endif %}
        {% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading|escape_attr }}"' : '' %}
        <img src="{{ item.image_field.src|escape_url }}" alt="{{ item.image_field.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}
        {% elif item.type == 'video' %}
        <div class="cardVideo" data-popup-id="videopop-{{ name }}">
          <div class="cardVideoPoster" style="background-image:url({{ item.image_field.src|escape_url }});">
            <div class="playIcon {{ module.module_settings.theme }}_color">
              <span>{{plyicon()}}</span>
            </div>
          </div> 
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>



{% for item in module.items_group %}
{% if item.type == 'video' %}
{% if item.video_group.video_type %}
{% if (item.video_group.video_type == "file" and item.video_group.video ) or (item.video_group.video_type == "embed" and item.video_group.embedded_path) %}


<div id="videopop-{{ name }}" class="cardVideoPopup ">
  <div class="cardVideoPopupInr small_container">
    <div class="cardpopVideo ">
      <div class="close">
        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 122.88 122.88"><defs></defs><title>cross</title><path d="M6,6H6a20.53,20.53,0,0,1,29,0l26.5,26.49L87.93,6a20.54,20.54,0,0,1,29,0h0a20.53,20.53,0,0,1,0,29L90.41,61.44,116.9,87.93a20.54,20.54,0,0,1,0,29h0a20.54,20.54,0,0,1-29,0L61.44,90.41,35,116.9a20.54,20.54,0,0,1-29,0H6a20.54,20.54,0,0,1,0-29L32.47,61.44,6,34.94A20.53,20.53,0,0,1,6,6Z"/></svg>
      </div>
      {% if item.video_group.video_type == 'file' %}
      <video id="video-videopop-{{ name }}" poster="{{ item.image_field.src|escape_url }} " src="{{ item.video_group.video}}" controls></video>
      {% else %}
      <div class="iframe_wrap">
        <div class="iframe_wrap_inr">
          {% if item.video_group.embedded_path is string_containing "youtube.com" %}
          <iframe src="" data-src="{{ item.video_group.embedded_path }}?autoplay=1&loop=0&mute=1&showinfo=0&controls=1" frameborder="0" allowFullScreen class="iframe_video"></iframe>
          {% else %}
          <iframe src="" data-src="{{ item.video_group.embedded_path}}?autoplay=1&loop=0&autopause=0&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowFullScreen class="iframe_video"></iframe>
          {% endif %}
        </div>    
      </div>
      {% endif %}
    </div>
  </div>
</div>


{% endif %}
{% endif %}
{% endif %}

{% endfor %}



</section>





{% require_js%}
<script>
  $('.sliderCnntt').slick({
    slidesToShow: 3,      // Default number of slides on large screens
    infinite: true,
    autoplay: true,        
    autoplaySpeed: 3000,    
    speed: 500,
    centerMode: true,
    centerPadding: '0px',
    adaptiveHeight: true,
    responsive: [
      {
        // For tablet screens (768px and up)
        breakpoint: 1024, 
        settings: {
          slidesToShow: 2, // Show 2 slides
          centerMode: false, // Keep center mode enabled
          centerPadding: '0px', // Remove padding for tablet size

        }
      },
      {
        // For mobile screens (600px and up)
        breakpoint: 600, 
        settings: {
          slidesToShow: 1, // Show 1 slide
          centerMode: false, // Keep center mode enabled
          centerPadding: '0px', // Remove padding for mobile size
        }
      }
    ]
  });
  document.querySelectorAll('.cardVideo').forEach(function(cardVideo) {
    cardVideo.addEventListener('click', function() {
      var dtPopup = cardVideo.getAttribute('data-popup-id');
      var popupElement = document.getElementById(dtPopup);

      if (popupElement) {
        // Show the popup
        popupElement.style.display = 'flex';

        // Find the video element inside the popup
        var video = popupElement.querySelector('video');
        var iframe = popupElement.querySelector('iframe');

        // Handle regular video autoplay
        if (video) {
          video.setAttribute('autoplay', "autoplay");
          video.play();
        }

        // Handle iframe autoplay (YouTube video)
        if (iframe) {
          // Set the iframe source to autoplay the YouTube video
          var iframeSrc = iframe.getAttribute('data-src');
          iframe.setAttribute('src', iframeSrc + '&autoplay=1');
        }
      }
    });
  });

  // Handling close button to stop videos or iframes
  document.querySelectorAll('.cardpopVideo .close').forEach(function(closeButton) {
    closeButton.addEventListener('click', function() {
      document.querySelectorAll('.cardVideoPopup').forEach(function(cardVideoPopup) {
        cardVideoPopup.style.display = 'none';

        // Find and stop regular video
        var video = cardVideoPopup.querySelector('video');
        if (video) {
          video.setAttribute('autoplay', "");
          video.pause();
        }

        // Find and stop iframe video (YouTube)
        var iframe = cardVideoPopup.querySelector('iframe');
        if (iframe) {
          // Remove the iframe src to stop the video
          iframe.setAttribute('src', '');
        }
      });
    });
  });
</script>

{% end_require_js%}





<style> 
  .u4m-slider-gallery .innerCntt .slick-arrow::before {
    background-image:url({{ get_asset_url('../../templates/images/Path.png') }});
  }
</style>

