html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

.u4m-slider-gallery .intro_content {
  margin-bottom: 0rem;
  max-width: 786rem;
}
.u4m-slider-gallery .intro_content .intro_title {
  line-height: 1.1875;
  margin-bottom: 8rem;
}
.u4m-slider-gallery .intro_content .intro_desc {
  font-family: "Inter";
}
.u4m-slider-gallery .btm_wrp {
  margin-top: 65px;
}
.u4m-slider-gallery .cardVideo {
  width: 100%;
  height: 100%;
}
.u4m-slider-gallery .cardVideoPoster {
  cursor: pointer;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  border-radius: 8px;
  background-position: bottom;
}
.u4m-slider-gallery .cardVideoPoster .playIcon {
  opacity: 1;
  position: absolute;
  z-index: 99;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all ease;
  width: 60rem;
  height: 60rem;
  border: 2px solid #ffffff;
  background: #409650;
}
.u4m-slider-gallery .cardVideoPoster .playIcon svg {
  fill: #fff;
  width: 20px;
  vertical-align: text-bottom;
  height: 20px;
}
.u4m-slider-gallery .cardVideoPoster:hover .playIcon {
  opacity: 1;
  transform: scale(1.1);
}
.u4m-slider-gallery .cardVideoPoster img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.u4m-slider-gallery .cardVideoPopup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  height: auto;
  overflow-y: auto;
  background-color: rgba(51, 71, 91, 0.6);
}
.u4m-slider-gallery .cardVideoPopup .small_container {
  align-items: center;
  display: flex;
  float: none;
  height: auto;
  margin: auto;
  max-width: 1340rem;
  padding: 100px 20px;
  position: relative;
  width: 100%;
}
.u4m-slider-gallery .cardVideoPopup video {
  display: block;
  width: 100%;
  outline: none;
}
.u4m-slider-gallery .cardVideoPopup .videowrap {
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
  min-height: 300px;
}
.u4m-slider-gallery .cardVideoPopup .cardVideoPopup .videowrap * {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.u4m-slider-gallery .cardVideoPopup iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border: 0;
}
.u4m-slider-gallery .cardVideoPopup .cardpopVideo {
  margin: auto;
  padding: 35px 0;
  position: relative;
  margin: 0;
  width: 100%;
}
.u4m-slider-gallery .cardVideoPopup .cardpopVideo .close {
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: space-around;
  position: absolute;
  right: 0px;
  top: -10px;
  width: 40px;
  z-index: 99;
  background: #409650;
}
.u4m-slider-gallery .cardVideoPopup .cardpopVideo .close svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.u4m-slider-gallery .iframe_wrap {
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
  min-height: 300px;
}
.u4m-slider-gallery .iframe_wrap * {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.u4m-slider-gallery .innerCntt {
  margin: 0 -6px;
}
.u4m-slider-gallery .innerCntt .slick-slide {
  margin: 0 6px;
  height: 198px;
}
.u4m-slider-gallery .innerCntt .items_wrp img {
  border-radius: 8px;
}
.u4m-slider-gallery .innerCntt .slick-track {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.u4m-slider-gallery .innerCntt .slick-track img {
  height: 100% !important;
  object-fit: cover;
  width: 100% !important;
}
.u4m-slider-gallery .innerCntt .slick-center {
  height: 258px;
  opacity: 1;
  z-index: 2;
}
.u4m-slider-gallery .innerCntt .slick-arrow {
  padding: 12px;
  background: #0e2514;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  transform: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.u4m-slider-gallery .innerCntt .slick-arrow::before {
  content: "";
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  width: 6px;
  height: 12px;
  background-position: center;
}
.u4m-slider-gallery .innerCntt .slick-arrow.slick-prev {
  left: -50px;
}
@media (max-width: 1199px) {
  .u4m-slider-gallery .innerCntt .slick-arrow.slick-prev {
    left: -10px;
    z-index: 99;
  }
}
.u4m-slider-gallery .innerCntt .slick-arrow.slick-next {
  right: -50px;
}
.u4m-slider-gallery .innerCntt .slick-arrow.slick-next::before {
  transform: rotate(180deg);
}
@media (max-width: 1199px) {
  .u4m-slider-gallery .innerCntt .slick-arrow.slick-next {
    right: -10px;
    z-index: 99;
  }
}