{% set moduleName = 'u4m-slider-tabs-left' %}
{% include "../partials/u4-module-includes.html" %}

<div class="page-center  {{ module.module_settings.theme }}">
  <div class="intro_wrapp">
    {{macros.introGroup(module.intro_content)}}
  </div>
</div>

<div class="ctvb-section fullwidth main-sec updatedSlider">
  <div class="page-center">
    <div class="sec-inner fullwidth">
      <div class="ctvb-toprow">
        <div class="ctvb-tabs">
          <ul class="sslider-nav">
            {% for item in module.tabber_items %}
            <li>
              <a href="javascript:void(0);" tab-item="#tab-{{ loop.index }}">{{ item.tab_title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="ctvb-tabbingrow sslider-for">
        {% for item in module.tabber_items %}
        <div id="tab-{{ loop.index }}" class="ctvb-tabcol ctvb-video">
          <div class="ctvb-tabimage">
          <div class="topCat">
          {{ item.tab_title }}
          </div>
            <div class="ctvb-tabplaceholder">
              {% if item.image_field.src %}
              {% set sizeAttrs = 'width="{{ item.image_field.width|escape_attr }}" height="{{ item.image_field.height|escape_attr }}"' %}
              {% if item.image_field.size_type == 'auto' %}
              {% set sizeAttrs = 'width="{{ item.image_field.width|escape_attr }}" height="{{ item.image_field.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
              {% elif item.image_field.size_type == 'auto_custom_max' %}
              {% set sizeAttrs = 'width="{{ item.image_field.max_width|escape_attr }}" height="{{ item.image_field.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
              {% endif %}
              {% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading|escape_attr }}"' : '' %}
              <img src="{{ item.image_field.src|escape_url }}" alt="{{ item.image_field.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
              {% endif %}
            </div>
            <span class="ctvb-btnicon ctvb-playbtn">
              <svg width="18.002" height="22.501" xmlns="http://www.w3.org/2000/svg">
                <path d="m16.999 13.125-13.5 9A2.25 2.25 0 0 1 0 20.252v-18A2.25 2.25 0 0 1 3.499.378l13.5 9a2.25 2.25 0 0 1 0 3.747Z"></path>
              </svg>
            </span>
            <div class="ctvb-vdo">
              {% if item.select_video_type == "hubspot" %}
              <video controls>
                <source src="{{ item.select_video }}" type="video/mp4">
              </video>
              {% endif %}
              {% if item.select_video_type == "vimeo" %}
              <iframe title="video-Frame" class="hides" id="iframe{{loop.index }}" width="640" height="360"  data-src="{{ item.vimeo_id }}" src=""  frameborder="0" loading="lazy" allowfullscreen></iframe>
              {% endif %}
            </div>
            <div class="ctvb-tabottom">
              <div class="tab_bottom_inner">
                <div class="ctvb-tablogo">
                  {% if item.logo_image.src %}
                  {% set sizeAttrs = 'width="{{ item.logo_image.width|escape_attr }}" height="{{ item.logo_image.height|escape_attr }}"' %}
                  {% if item.logo_image.size_type == 'auto' %}
                  {% set sizeAttrs = 'width="{{ item.logo_image.width|escape_attr }}" height="{{ item.logo_image.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                  {% elif item.logo_image.size_type == 'auto_custom_max' %}
                  {% set sizeAttrs = 'width="{{ item.logo_image.max_width|escape_attr }}" height="{{ item.logo_image.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                  {% endif %}
                  {% set loadingAttr = item.logo_image.loading != 'disabled' ? 'loading="{{ item.logo_image.loading|escape_attr }}"' : '' %}
                  <img src="{{ item.logo_image.src|escape_url }}" alt="{{ item.logo_image.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
                  {% endif %}
                </div>
                <div class="ctvb-tabtn">
                  {% if item.read_button_text %}
                  {% set href = item.link_field.url.href %}
                  {% if item.link_field.url.type is equalto "EMAIL_ADDRESS" %}
                  {% set href = "mailto:" + href %}
                  {% endif %}
                  <a
                     {% if item.link_field.url.type is equalto "CALL_TO_ACTION"  %}
                     href="{{ href }}"
                     {% else %}
                     href="{{ href|escape_url }}"
                     {% endif %}
                     {% if item.link_field.open_in_new_tab %}
                     target="_blank"
                     {% endif %}
                     {% if item.link_field.rel %}
                     rel="{{ item.link_field.rel|escape_attr }}"
                     {% endif %}
                     >
                    {{ item.read_button_text }} <span class="ctvb-tablink-icon">
                    <svg class="ctvb-tablink-normal" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 256 256" focusable="false" style="user-select: none; display: inline-block; flex-shrink: 0;">
                      <g weight="regular">
                        <path d="M200,64V168a8,8,0,0,1-16,0V83.31L69.66,197.66a8,8,0,0,1-11.32-11.32L172.69,72H88a8,8,0,0,1,0-16H192A8,8,0,0,1,200,64Z"></path>
                      </g>
                    </svg>
                    <svg class="ctvb-tablink-hover" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 256 256" focusable="false" style="user-select: none; display: inline-block; flex-shrink: 0;">
                      <g weight="regular">
                        <path d="M200,64V168a8,8,0,0,1-16,0V83.31L69.66,197.66a8,8,0,0,1-11.32-11.32L172.69,72H88a8,8,0,0,1,0-16H192A8,8,0,0,1,200,64Z"></path>
                      </g>
                    </svg>
                    </span>
                  </a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div class="ctvb-tabcontent">
            {% if item.quote %}
            <div class="ctvb-tabtxt">
              {{ item.quote }}
            </div>
            {% endif %}
            {% if item.author_name %}
            <div class="ctvb-tabname"> <span class="saprator">—</span> {{ item.author_name }}, </div>
            {% endif %}
            {% if item.designation %}
            <div class="ctvb-tabcompany"> {{ item.designation }} </div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="arrow-section">
        <div class="tab-prev-arrow">
          <div class="tab-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M165.66,202.34a8,8,0,0,1-11.32,11.32l-80-80a8,8,0,0,1,0-11.32l80-80a8,8,0,0,1,11.32,11.32L91.31,128Z"></path></svg>
          </div>   
        </div>
        <div class="tab-next-arrow">
          <div class="progress-bar">
            <svg class="progress-svg" width="50" height="50">
              <g transform="translate(20,20)">
                <circle class="circle-base" r="22" cx="0" cy="0"></circle>
                <circle class="circle-go" r="22" cx="0" cy="0"></circle>
              </g>
            </svg>
          </div>
          <div class="tab-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</section>

{% require_js %}
<script>
 
  initSliderTabsFunctionality();
  function initSliderTabsFunctionality() {
    function hideVideos() {
      const nonCurrentTabs = $(".ctvb-tabcol").not('.slick-current');
      nonCurrentTabs.find('.ctvb-tabplaceholder').fadeIn();
      nonCurrentTabs.find('.ctvb-playbtn').fadeIn();
      nonCurrentTabs.find('iframe').attr('src', '');
      nonCurrentTabs.find('video').each(function () {
        this.pause();
      });
      nonCurrentTabs.find('.ctvb-tabplaceholder,.ctvb-playbtn').fadeIn();
      nonCurrentTabs.find('.ctvb-vdo').css({
        "opacity": 0,
        "z-index": -2
      });
    }

    $('.sslider-for').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      variableWidth: true,
      arrows: true,
      nextArrow: '.tab-next-arrow',
      prevArrow: '.tab-prev-arrow',
      asNavFor: '.sslider-nav',
      autoplaySpeed: 5000,
      infinite: true,
      autoplay: false,
      focusOnSelect: true,
      responsive: [ 
      {
        breakpoint: 767,
        settings: { 
          slidesToShow: 1,
          slidesToScroll: 1,
          variableWidth: false,
        }
      }
    ]
    });

    $('.sslider-nav').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      variableWidth: true, 
      asNavFor: '.sslider-for',
      dots: false, 
      infinite: false,
      autoplay: false,
      arrows: false,
      responsive: [
        {
          breakpoint: 1400,
          settings: {
            slidesToShow: 5,
            slidesToScroll: 1,
          }
        },
        {
          breakpoint: 767,
          settings: { 
            slidesToShow: 1,
            slidesToScroll: 1, 
          }
        }
      ] 
    });

    $('.sslider-for').on('beforeChange', function(event, { slideCount: count }, currentSlide, nextSlide){
    let selectors = [nextSlide, nextSlide - count, nextSlide + count].map(n => `[data-slick-index="${n}"]`).join(', ');
      $('.slick-now').removeClass('slick-now');
      $(selectors).addClass('slick-now');
    });

    $('[data-slick-index="0"]').addClass('slick-now');

    function startProgressBar() {
      const $progressBar = $('.progress-bar .circle-go');
      const radius = $progressBar.attr('r');
      const circumference = 2 * Math.PI * radius;
      $progressBar.css({
        strokeDasharray: circumference,
        strokeDashoffset: circumference,
        transition: 'none',
      });

      setTimeout(() => {
        $progressBar.css({
          transition: 'stroke-dashoffset 5s linear', // Smooth transition over 5s
          strokeDashoffset: 0, // Animate to complete the circle
        });
      }, 0);
      {# $('.sslider-for,.sslider-nav').slick('slickPlay'); #}
    }

    function handleSlideChange() {
      startProgressBar();
      hideVideos();
    }

    startProgressBar();
    hideVideos();

    $('.tab-prev-arrow').on('click', function () {
      handleSlideChange();
      hideVideos();
    });

    $('.tab-next-arrow').on('click', function () {
      handleSlideChange();
      hideVideos();
    });

    $('.sslider-nav').on('click', '.slick-slide', function () {
      const index = $(this).data('slick-index');
      $('.sslider-for').slick('slickGoTo', index);
      {# $('.sslider-for,.sslider-nav').slick('slickPlay'); #}
      handleSlideChange();
      hideVideos();
    });

    $('.ctvb-btnicon').each(function () {
      $(this).off('click').on('click', function (e) {
        e.preventDefault();
        var $this = $(this);
        $('.sslider-for,.sslider-nav').slick('slickPause');

        $this.prev('.ctvb-tabplaceholder').fadeOut();
        $this.fadeOut();

        var videoContainer = $this.next('.ctvb-vdo');
        videoContainer.css({
          "opacity": 1,
          "z-index": 10
        });

        var videotag = videoContainer.children('video');
        if (videotag.length > 0) {
          videotag[0].play();
        }

        var iframetag = videoContainer.children('iframe');
        if (iframetag.length > 0) {
          var iframeSrc = iframetag.attr('data-src');
          if (iframeSrc) {
            iframetag.attr('src', iframeSrc);
          }
        }
      });
    });
  }

</script> 
{% end_require_js %}