@import "../../css/_module-imports";
$color_3: #00aa95;
$background-color_3: #287734;
$border-color_1: #287734;

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0);
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.u4m-slider-tabs-left {
  .progress-bar {
    position: absolute;
    top: 0px;
    left: 0;
  }
  .progress-svg {
    transform: rotate(-90deg);
    width: 40px;
    height: 40px;
    overflow: visible;
  }
  .circle-base {
    fill: none;
    stroke: #e6e6e6;
    stroke-width: 2;
  }
  .circle-go {
    fill: none;
    stroke: #4caf50;
    stroke-width: 2;
    stroke-dasharray: 106.76;
    stroke-dashoffset: 106.76;
  }
  .ctvb-section {
    .sec-inner {
      .arrow-section {
        .tab-prev-arrow {
          position: absolute;
          top: 36%;
          @include phone {
            top: 50%;
          }
          z-index: 9;
          transform: translateY(-50%);
          left: -10px;
          cursor: pointer;
          .tab-arrow {
            svg {
              width: 18px;
              path {
                fill: $White;
              }
            }
            width: 35px;
            border-radius: 50px;
            background: #0e2514;
            height: 35px;
            color: $White;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .tab-next-arrow {
          position: absolute;
          top: 36%;
          @include phone {
            top: 50%;
          }
          z-index: 9;
          transform: translateY(-50%);
          left: -10px;
          cursor: pointer;
          left: auto;
          right: 0;
          .tab-arrow {
            svg {
              width: 18px;
              path {
                fill: $White;
              }
            }
            width: 35px;
            border-radius: 50px;
            background: #0e2514;
            height: 35px;
            color: $White;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      position: relative;
    }
    position: relative;
    z-index: 9;
    overflow: hidden;
    .ctvb-tabcol {
      min-width: 230px;
      .ctvb-tabcontent {
        .ctvb-tabname {
          font-size: 14px;
          font-weight: 700;
          line-height: 27px;
        }
        .ctvb-tabcompany {
          font-size: 14px;
          line-height: 27px;
        }
        .ctvb-tabtxt {
          p {
            sup {
              color: $L2L_green;
              font-size: 32px;
              top: -5px;
            }
          }
        }
      }
    }
  }
  .ctvb-tabcol {
    &:not(.activetab) {
      .ctvb-tabottom {
        opacity: 1;
      }
      .ctvb-tabplaceholder {
        opacity: 1;
        &:before {
          opacity: 1;
        }
      }
      span.ctvb-playbtn {
        opacity: 1;
      }
      .ctvb-vdo {
        z-index: -2 !important;
        opacity: 0 !important;
      }
    }
    padding: 0 15px;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    width: auto;
    position: relative;
    &:hover {
      .ctvb-tabplaceholder {
        transform: scale(1.1667, 1);
      }
      padding: 0 30px;
    }
    .ctvb-tabottom {
      .ctvb-tabtn {
        display: none;
      }
    }
  }
  .ctvb-tabs {
    ul {
      li.active {
        a {
          &:before {
            opacity: 1;
          }
          opacity: 1;
          font-weight: 700;
        }
      }
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 36px;
      li {
        a {
          &:before {
            opacity: 0;
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $L2L_green;
          }
          letter-spacing: 0.25px;
        }
      }
    }
  }
  .hs-inline-edit {
    .element_fade-in {
      opacity: 1;
    }
  }
  .ctvb-tabcol.activetab {
    &:hover {
      .ctvb-tabplaceholder {
        transform: unset;
      }
      padding: 0 15px;
    }
    .ctvb-tabcontent {
      display: block;
    }
    min-width: 582px;
    @include navbreakMin {
      min-width: 350px;
    }
    @include phone {
      min-width: 295px;
    }
    width: 100%;
    .ctvb-tabtn {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: 0;
      @include navbreakMin {
        padding-top: 10px;
      }
      a {
        color: $White;
        font-size: 14px;
        @include phone {
          font-size: 12px;
        }
        &:hover {
          svg.ctvb-tablink-hover {
            transform: translate(0, 0);
          }
          svg.ctvb-tablink-normal {
            transform: translate(30px, -30px);
          }
        }
        svg.ctvb-tablink-hover {
          transform: translate(-30px, 30px);
        }
      }
    }
    .ctvb-tabottom {
      .ctvb-tabtn {
        display: block;
      }
    }
    span.ctvb-playbtn {
      background-color: $background-color_3;
      border-color: $border-color_1;
    }
    .ctvb-tabplaceholder {
      &:before {
        background: linear-gradient(
          rgba(0, 0, 0, 0) 0,
          rgba(0, 0, 0, 0.77) 100%
        );
      }
    }
    span.ctvb-plusicon {
      background-color: $L2L_green;
      &:before {
        background-color: $L2L_green;
      }
    }
    .ctvb-vdo {
      width: 100%;
      background-color: $darkBack;
    }
  }
  .ctvb-toprow {
    ul {
      display: flex;
      gap: 36px;
      @include midlaptop {
        gap: 20px;
        flex-wrap: wrap;
      }
      li {
        margin: 0;
        a {
          display: inline-block;
          padding-bottom: 15px;
          transition: all 0.3s ease;
          font-size: 14px;
          position: relative;
          color: $baseColor;
          @include midlaptop {
            padding-bottom: 0;
          }
        }
      }
      li.active {
        a {
          &:before {
            opacity: 1;
          }
        }
      }
    }
    padding-bottom: 34px;
    margin-top: 0;
    margin-top: 60px;
    width: 100%;
    justify-content: space-between;
  }
  .ctvb-tabbingrow.activetablast {
    justify-content: flex-end;
  }
  .row--justify-flex-end {
    justify-content: flex-end;
  }
  .ctvb-btn {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    justify-content: flex-end;
    a {
      display: inline-block;
      vertical-align: middle;
      transition: 0.5s;
      -webkit-transition: 0.5s;
      line-height: 20px;
      font-weight: 700;
      font-family: $secondaryFont;
      font-size: 16px;
      span {
        overflow: hidden;
        vertical-align: middle;
        margin-left: 5px;
        height: 24px;
        width: 24px;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        display: inline-block;
        position: relative;
        svg {
          color: $color_3;
          fill: $arrowBtn;
          width: 24px;
          position: absolute;
          top: 0;
          right: 0;
          height: 24px;
          overflow: hidden;
          transition: 0.3s;
          -webkit-transition: 0.3s;
        }
      }
      &:hover {
        color: $color_3;
      }
    }
  }
  .ctvb-tabimage {
    display: flex;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 324px;
  }
  .ctvb-tabtn {
    a {
      display: inline-block;
      vertical-align: middle;
      transition: 0.5s;
      -webkit-transition: 0.5s;
      line-height: 20px;
      font-weight: 700;
      font-family: $secondaryFont;
      font-size: 16px;
      span {
        overflow: hidden;
        vertical-align: middle;
        margin-left: 5px;
        height: 24px;
        width: 24px;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        display: inline-block;
        position: relative;
        svg {
          color: $color_3;
          fill: #00aa95;
          width: 24px;
          position: absolute;
          top: 0;
          right: 0;
          height: 24px;
          overflow: hidden;
          transition: 0.3s;
          -webkit-transition: 0.3s;
        }
      }
      &:hover {
        color: $White !important;
        span {
          .ctvb-tablink-hover {
            transform: translate(0, 0);
            fill: #f08c1f;
          }
        }
      }
    }
  }
  .ctvb-tabbingrow {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 0;
    display: flex;
    overflow: visible;
    &::-webkit-scrollbar {
      height: 6px;
      background-color: $White;
      border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $L2L_green;
      border-radius: 3px;
    }
  }
  .ctvb-tabcontent {
    display: none;
    margin-top: 36px;
  }
  .ctvb-tabtxt {
    font-family: $secondaryFont;
    font-size: 30px;
    line-height: 42px;
    font-weight: 400;
    @include phone {
      font-size: 20px;
      line-height: 32px;
    }
    p {
      font-family: $secondaryFont;
      font-size: 30px;
      line-height: 42px;
      font-weight: 400;
      @include phone {
        font-size: 20px;
        line-height: 32px;
      }
    }
  }
  .ctvb-tabcompany {
    font-family: $secondaryFont;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 0.25px;
    font-weight: 400;
  }
  .ctvb-tabname {
    font-family: $secondaryFont;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 0.25px;
    margin-top: 30px;
    font-weight: 700;
    text-transform: uppercase;
    .saprator {
      color: $L2L_green;
    }
  }
  .ctvb-tabottom {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;
    .tab_bottom_inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    .ctvb-tabtn {
      a {
        color: $White;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
  span.ctvb-playbtn {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid $White;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    svg {
      margin-left: 4px;
      width: 18px;
      fill: $White;
    }
  }
  span.ctvb-plusicon {
    flex-wrap: wrap;
    top: 50%;
    left: 50%;
    background-color: $White;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6px;
    height: 40px;
    &:before {
      flex-wrap: wrap;
      top: 50%;
      left: 50%;
      background-color: $White;
      transform: translate(-50%, -50%);
      position: absolute;
      display: flex;
      content: "";
      align-items: center;
      justify-content: center;
      height: 6px;
      width: 40px;
    }
  }
  .ctvb-tabplaceholder {
    img {
      border-radius: inherit;
      object-position: center center;
      object-fit: cover;
      width: 100%;
      height: 100% !important;
      image-rendering: auto;
    }
    transition: 0.5s;
    -webkit-transition: 0.5s;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &:before {
      transition: 0.5s;
      -webkit-transition: 0.5s;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: linear-gradient(
        rgba(0, 0, 0, 0.66) 0%,
        rgba(0, 0, 0, 0.79) 100%
      );
    }
  }
  .ctvb-vdo {
    iframe {
      border-radius: inherit;
      object-position: center center;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .ctvb-tablogo {
    img {
      max-width: 140px !important;
    }
  }
  .ft-section {
    .sec-top {
      h2 {
        font-size: 2rem;
        text-align: center;
      }
    }
  }
}
