//

@mixin buttonBase {
  line-height: 1.71;
  font-size: 14rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: $secondaryFont;
  display: flex;
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
}

@mixin button {
  @include buttonBase;
  border-radius: 8px;
  transition: 0.3s ease;
  border: 1px solid;
  text-decoration: none;
  padding: 14rem 30rem;
  text-transform: uppercase;
  color: $white;
  background-color: $L2L_green;
  border-color: $L2L_green;
  cursor: pointer;

  &:hover {
    border-radius: 21px;
    color: $Menthol;
    background-color: $Fern_green;
    border-color: $Fern_green;
  }

  &:active {
    border-radius: 21px;
    color: $Lime_Green;
    background-color: $Forest_Green;
    border-color: $Forest_Green;
  }

  &:disabled {
    border-radius: 8px;
    color: $white;
    background-color: $light_grey;
    border-color: $light_grey;
  }
}

@mixin buttonTwo {
  @include button;
  border: none;
  padding: 15rem 30rem;
  background: linear-gradient(
    308.96deg,
    $Prismic_mint -8.65%,
    $Pale_Yellow_Green 81.32%
  );
  color: $baseColor;

  &:hover {
    background: linear-gradient(308.96deg, $Menthol 0%, $Menthol 100%);
    color: $baseColor;
  }

  &:active {
    background: $Lime_Green;
    color: $baseColor;
  }
}

//

@mixin buttonTwoRevrse {
  @include button;
  border: none;
  padding: 15rem 30rem;
  background: linear-gradient(
    308.96deg,
    $Prismic_mint -8.65%,
    $Pale_Yellow_Green 81.32%
  );
  background: linear-gradient(260.94deg, #d0f76e 3.36%, #b8ffd2 98.11%);
  background: linear-gradient(
    260.94deg,
    $Pale_Yellow_Green 3.36%,
    $Prismic_mint 98.11%
  );
  color: $baseColor;

  &:hover {
    background: linear-gradient(308.96deg, $Menthol 0%, $Menthol 100%);
    color: $baseColor;
  }

  &:active {
    background: $Lime_Green;
    color: $baseColor;
  }
}

/* Rectangle */

//

@mixin buttonThree {
  @include button;
  background-color: rgba($Sea_Green, 0.08);
  color: $white;
  border-color: $Sea_Green;

  &:hover {
    background-color: rgba($Menthol, 0.08);
    color: $Menthol;
    border-color: $Menthol;
  }

  &:active {
    background-color: rgba($Lime_Green, 0.13);
    color: $Lime_Green;
    border-color: $Lime_Green;
  }
}

@mixin buttonWithIcon {
  @include buttonBase;
  display: inline-flex;
  color: $Nori_Green;

  .arrowbtn {
    display: inline-block;
    height: 24px;
    margin-left: 5px;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    width: 24px;

    svg {
      height: 24px;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      transition: 0.3s transform;
      -webkit-transition: 0.3s transform;
      width: 24px;

      &.btnArrow2 {
        transform: translate(-30px, 30px);
      }
    }
  }

  &:hover {
    color: $Medium_Aquamarine;

    svg {
      &.btnArrow1 {
        transform: translate(30px, -30px);
      }

      &.btnArrow2 {
        transform: translate(0, 0);
      }
    }
  }
}

@mixin buttonWithIconTwo {
  color: $Nori_Green;

  &:hover {
    color: $Menthol;
  }
}

@mixin buttonWithIconThree {
  color: $Nori_Green;

  &:hover {
    color: $Prismic_mango;
  }
}

//
@mixin buttonSmall {
  @include button;
  padding: 8rem 20rem 7rem 20rem;
  font-size: 12rem;
  line-height: 1.2;
}

//

//
@mixin buttonStroked {
  display: inline-block;
  font-family: $font1;
  color: $black;
  background-color: transparent;
  border: solid 1rem $black;
  // border-radius: 50rem;
  padding: 13rem 30rem;
  margin: 20rem 0;
  transition: $animation1;
  font-weight: bold;
  letter-spacing: 0.25rem;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $black;
    color: $white;
  }
}

// Text Button
@mixin buttonText {
  font-weight: bold;
  margin: 20rem 0;
  cursor: pointer;

  &:after {
    display: inline-block;
    margin-left: 5rem;
    width: 9rem;
    height: 7rem;
  }

  &:hover,
  &:focus {
    color: $black;
  }
}

// Dark Versions of Buttons
@mixin buttonDark {
  @include button;
  background-color: $black;

  &:hover,
  &:focus {
    background-color: $action1;
  }
}

@mixin buttonDarkSmall {
  @include buttonSmall;
  background-color: $black;

  &:hover,
  &:focus {
    background-color: $action1;
  }
}

@mixin buttonDarkStroked {
  @include buttonStroked;
  color: $gray1;
}

// Dot navigation for slick.js
@mixin slickDots {
  //bottom: 30rem;
  position: relative;

  li {
    button {
      background-color: $gray2;
      transition: $animation1;
      border-radius: 100%;

      &:before {
        opacity: 0;
      }

      &:hover {
        background-color: $gray3;
      }
    }

    &.slick-active {
      button {
        background-color: $action1;
      }
    }
  }

  > li:only-child {
    display: none;
  }
}

// Arrow navigation for slick.js
@mixin slickArrows {
  &.slick-next,
  &.slick-prev {
    &:before {
      opacity: 1;
      color: $black;
      content: "<";
      transition: $animation1;
    }

    &:hover {
      &:before {
        color: $action2;
      }
    }
  }

  &.slick-next {
    right: -65rem;

    &:before {
      content: ">";
    }
  }

  &.slick-prev {
    left: -65rem;

    &:before {
      content: "<";
    }
  }
}

// Hamburger Menu
@mixin x-close {
  display: none;

  html.menu-open & {
    display: block;
  }

  @include tablet {
    display: block;

    .u4-landing-page & {
      display: none;
    }
  }

  padding: 0;
  transition: 0.3s;
  cursor: pointer;
  user-select: none;
  margin: 0;
  background: transparent;
  border: 0;
  z-index: 99;

  &.close {
    transform: scale3d(0.8, 0.8, 0.8);
  }

  &.x2 .lines {
    transition: background 0.3s 0.5s ease;
  }

  &.x2 .lines:before,
  &.x2 .lines:after {
    transform-origin: 50% 50%;
    transition:
      top 0.3s 0.6s ease,
      transform 0.3s ease;
  }

  &.x2.close .lines {
    transition: background 0.3s 0 ease;
    background: transparent;
  }

  &.x2.close .lines:before,
  &.x2.close .lines:after {
    transition:
      top 0.3s ease,
      transform 0.3s 0.5s ease;
    top: 0;
    width: 30rem;
  }

  &.x2.close .lines:before {
    transform: rotate3d(0, 0, 1, 45deg);
  }

  &.x2.close .lines:after {
    transform: rotate3d(0, 0, 1, -45deg);
  }

  &:hover,
  &:focus {
    background: transparent;
    opacity: 1;
  }

  &:active {
    background: transparent;
    transition: 0;
  }

  .lines {
    display: inline-block;
    width: 30rem;
    height: 3rem;
    background: $black;
    border-radius: 0;
    transition: 0.3s;
    position: relative;
  }

  .lines:before,
  .lines:after {
    display: inline-block;
    width: 30rem;
    height: 3rem;
    background: $black;
    border-radius: 0;
    transition: 0.3s;
    position: absolute;
    left: 0;
    content: "";
    transform-origin: 0.28571rem center;
  }

  .menu-open & .lines:before,
  .menu-open & .lines:after {
    background: $white;
  }

  .lines:before {
    top: 10rem;
  }

  .lines:after {
    top: -10rem;
  }
}
