@import "../../css/_module-imports";

.u4m-icon-card {
    .card_wrap {
        .arrow-link {
            color: $white;

            &:hover {
                color: $Medium_Aquamarine;
            }

            &.theme2 {
                color: $white;
            }

            &.theme2:hover {
                color: $Menthol;
            }

            &.theme3 {
                color: $white;

            }

            &.theme3:hover {
                color: $Prismic_mango;
            }
        }
    }

    .card_wrap {
        padding-top: 30px;

        .card_flex {
            gap: 30px;
            justify-content: center;

            .card_item {
                width: calc(33.3% - 20px);
                @include size14;
                line-height: 1.7;

                @include tablet {
                    width: calc(50% - 15px);
                }

                @include tabletvert {
                    width: 100%;
                }

                .item_inr {
                    background-image: $gradient6;
                    padding: 36px;
                    border-radius: 13px;
                    box-shadow: $shadow4;
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    .item_top_flex {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 18px;
                        padding-bottom: 25px;
                        border-bottom: 1px solid $Menthol;
                        margin-bottom: 18px;

                        .item_iconwrap {
                            width: 54px;
                            height: 54px;
                            border-radius: 8px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: rgba(14, 37, 20, 0.34);
                            border: 1px solid #22452A;
                            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.50);

                            &.type1 {
                                background-image: linear-gradient(225deg, rgba(191, 191, 191, 0.45) 0%, rgba(14, 37, 20, 0.45) 38%, rgba(14, 37, 20, 0.45) 66%, rgba(64, 150, 80, 0.45) 100%);
                            }

                            &.type2 {
                                background-image: linear-gradient(225deg, rgba(182, 182, 182, 0.45) 0%, rgba(14, 37, 20, 0.45) 38%, rgba(14, 37, 20, 0.45) 66%, rgba(247, 195, 110, 0.45) 100%);
                            }

                            &.type3 {
                                background-image: linear-gradient(225deg, rgba(191, 191, 191, 0.45) 0%, rgba(14, 37, 20, 0.45) 38%, rgba(14, 37, 20, 0.45) 66%, rgba(192, 252, 149, 0.45) 100%);
                            }

                            .title-icon {
                                justify-content: center;
                                height: 42px;
                                width: 42px;
                                background: rgba(14, 37, 20, 0.34);
                                border: 1px solid #22452A;
                                box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.50);
                                display: flex;
                                align-items: center;

                                svg {
                                    width: 24px;
                                    height: 24px;
                                    display: block;

                                    path {
                                        fill: $white;
                                    }
                                }
                            }
                        }

                        h4 {
                            margin: 0;
                            line-height: 2;
                            color: $white;
                        }
                    }

                    .card_cnt {


                        p {
                            color: $Frostee;
                        }
                    }

                    .card_btn {
                        margin-top: auto;


                        .intro_btn_wrap {
                            margin-top: 25px;
                            justify-content: flex-start;
                        }
                    }
                }
            }
        }
    }
}