{% set moduleName = 'u4m-alternating-content' %}
{% include "../partials/u4-module-includes.html" %}

<div class="page-center  {{ module.module_settings.theme }}">
  <div class="intro_wrapp">
    {{macros.introGroup(module.intro_content)}}
  </div>

  <div class='two-col-content'>
    {% for item in module.content %}
    <div class='two-col-content-item {{item.content_alignment}}'>
      <div class="content-col">
        {% if item.content.heading %}
        <h2>
          {{ item.content.heading }}
        </h2>
        {% endif %}
        {{ item.content.content }}

        {{macros.buttonGroup(item.content.button_group)}}

      </div>
      <div class="media-col">
        {% if item.media_column.media_type == 'img' %}
        {% if item.media_column.image.src %}
        <div class="img-col">
          <img src="{{ item.media_column.image.src|escape_url }}" alt="{{ item.media_column.image.alt|escape_attr }}" style="border-radius:{{ module.module_settings.image_border_radious }}px;">
        </div>
        {% endif %}
        {% endif %}
        {% if item.media_column.media_type == 'video' %}
        <video class="video-media" controls style="border-radius:{{ module.module_settings.image_border_radious }}px;">
          <source src="{{ item.media_column.video }}" type="video/mp4">
        </video>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</section>













