html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

section.u4m-alternating-content {
  margin-top: 100rem;
  margin-bottom: 100rem;
}
section.u4m-alternating-content.reverse-text .inner .content {
  color: #fff;
}
section.u4m-alternating-content div.inner {
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1224rem;
  padding-left: 20rem;
  padding-right: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
}
@media (max-width: 1024px) {
  section.u4m-alternating-content div.inner {
    display: block;
  }
}
section.u4m-alternating-content div.inner div.additional-content {
  flex-direction: column;
  flex: 1 1 50%;
}
@media (max-width: 1024px) {
  section.u4m-alternating-content div.inner div.additional-content {
    float: none;
    width: 100%;
  }
}
section.u4m-alternating-content div.inner div.additional-content div.image img {
  max-width: 600rem;
}
@media (max-width: 1024px) {
  section.u4m-alternating-content div.inner div.additional-content div.image img {
    max-width: 100%;
    width: 100%;
  }
}
section.u4m-alternating-content div.inner div.additional-content div.video {
  flex: 1 1 50%;
}
section.u4m-alternating-content div.inner div.additional-content div.video h3 {
  font-size: 14rem;
  margin-bottom: 30rem;
  line-height: 1.71;
  color: #2e2e2e;
  font-family: "Sofia Sans";
  font-weight: bold;
  letter-spacing: 0px;
}
section.u4m-alternating-content div.inner div.additional-content div.video h4 {
  font-family: "Sofia Sans";
  font-size: 18rem;
  line-height: 1.6;
  letter-spacing: 0.25rem;
  margin-bottom: 20rem;
  font-weight: bold;
}
@media (max-width: 580px) {
  section.u4m-alternating-content div.inner div.additional-content div.video h4 {
    font-size: 16rem;
  }
}
section.u4m-alternating-content div.inner div.content {
  flex: 1 1 50%;
  padding-left: 50rem;
}
@media (max-width: 1024px) {
  section.u4m-alternating-content div.inner div.content {
    max-width: 100%;
    width: 100%;
    margin-top: 0;
    padding: 30rem 0;
  }
}
section.u4m-alternating-content div.inner div.content .eyebrow {
  font-family: "Sofia Sans";
  font-size: 14rem;
  font-weight: bold;
  line-height: 1.5em;
  letter-spacing: 1.5rem;
  text-transform: uppercase;
  display: block;
  margin-bottom: 10rem;
}
section.u4m-alternating-content div.inner div.content h2 {
  margin-top: 0;
  font-size: 14rem;
  margin-bottom: 30rem;
  line-height: 1.71;
  color: #2e2e2e;
  font-family: "Sofia Sans";
  font-weight: 400;
  letter-spacing: 0px;
}
@media (max-width: 580px) {
  section.u4m-alternating-content div.inner div.content h2 {
    margin-bottom: 0;
  }
}
section.u4m-alternating-content div.inner div.content h3 {
  font-size: 14rem;
  margin-bottom: 30rem;
  line-height: 1.71;
  color: #2e2e2e;
  font-family: "Sofia Sans";
  font-weight: bold;
  letter-spacing: 0px;
}
section.u4m-alternating-content div.inner div.content h4 {
  font-family: "Sofia Sans";
  font-size: 18rem;
  line-height: 1.6;
  letter-spacing: 0.25rem;
  margin-bottom: 20rem;
  font-weight: bold;
}
@media (max-width: 580px) {
  section.u4m-alternating-content div.inner div.content h4 {
    font-size: 16rem;
  }
}
section.u4m-alternating-content div.inner div.content p {
  font-family: "Sofia Sans";
  font-size: 18rem;
  line-height: 1.6;
  letter-spacing: 0.25rem;
  margin-bottom: 20rem;
}
@media (max-width: 580px) {
  section.u4m-alternating-content div.inner div.content p {
    font-size: 16rem;
  }
}
section.u4m-alternating-content div.inner div.content p:last-of-type {
  margin-bottom: 0;
}
@media (max-width: 580px) {
  section.u4m-alternating-content div.inner div.content p {
    font-family: "Sofia Sans";
    font-size: 14rem;
    line-height: 1.6;
    letter-spacing: 0.35rem;
    margin-bottom: 20rem;
  }
}
@media (max-width: 580px) and (max-width: 580px) {
  section.u4m-alternating-content div.inner div.content p {
    font-size: 14rem;
  }
}
section.u4m-alternating-content div.inner div.content a {
  margin-bottom: 0;
}
section.u4m-alternating-content div.inner div.content span.url a,
section.u4m-alternating-content div.inner div.content span.cta a {
  line-height: 1.71;
  font-size: 14rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Sofia Sans";
  display: flex;
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
  border-radius: 8px;
  transition: 0.3s ease;
  border: 1px solid;
  text-decoration: none;
  padding: 13rem 30rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #409650;
  border-color: #409650;
  cursor: pointer;
  padding: 8rem 20rem 7rem 20rem;
  font-size: 12rem;
  line-height: 1.2;
  margin-top: 35rem;
}
section.u4m-alternating-content div.inner div.content span.url a:hover,
section.u4m-alternating-content div.inner div.content span.cta a:hover {
  border-radius: 21px;
  color: #c0fc95;
  background-color: #2c6938;
  border-color: #2c6938;
}
section.u4m-alternating-content div.inner div.content span.url a:active,
section.u4m-alternating-content div.inner div.content span.cta a:active {
  border-radius: 21px;
  color: #9bf75f;
  background-color: #275430;
  border-color: #275430;
}
section.u4m-alternating-content div.inner div.content span.url a:disabled,
section.u4m-alternating-content div.inner div.content span.cta a:disabled {
  border-radius: 8px;
  color: #fff;
  background-color: #969696;
  border-color: #969696;
}
section.u4m-alternating-content div.inner.left {
  flex-direction: row-reverse;
}
section.u4m-alternating-content div.inner.left div.content {
  padding-left: 0;
  padding-right: 30rem;
}