html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

section.u4m-alternating-content {
  padding-top: 90px;
  padding-bottom: 90px;
}
section.u4m-alternating-content .baseColor .content-col > *,
section.u4m-alternating-content .baseColor .intro__inner > * {
  color: #2e2e2e;
}
section.u4m-alternating-content .prismic_mango_color .content-col > *,
section.u4m-alternating-content .prismic_mango_color .intro__inner > * {
  color: #f7c36e;
}
section.u4m-alternating-content .menthol_color .content-col > *,
section.u4m-alternating-content .menthol_color .intro__inner > * {
  color: #c0fc95;
}
section.u4m-alternating-content .l2l_green_color .content-col > *,
section.u4m-alternating-content .l2l_green_color .intro__inner > * {
  color: #409650;
}
section.u4m-alternating-content .fern_green_color .content-col > *,
section.u4m-alternating-content .fern_green_color .intro__inner > * {
  color: #2c6938;
}
section.u4m-alternating-content .dark_jungle_color .content-col > *,
section.u4m-alternating-content .dark_jungle_color .intro__inner > * {
  color: #0e2514;
}
section.u4m-alternating-content .mystic_green_color .content-col > *,
section.u4m-alternating-content .mystic_green_color .intro__inner > * {
  color: #d0f76f;
}
section.u4m-alternating-content .lime_green_color .content-col > *,
section.u4m-alternating-content .lime_green_color .intro__inner > * {
  color: #9bf75f;
}
section.u4m-alternating-content .white_color .content-col > *,
section.u4m-alternating-content .white_color .intro__inner > * {
  color: #ffffff;
}
@media (max-width: 767px) {
  section.u4m-alternating-content {
    padding: 50px 0;
  }
}
section.u4m-alternating-content .two-col-content {
  row-gap: 108px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  section.u4m-alternating-content .two-col-content {
    row-gap: 50px;
  }
}
section.u4m-alternating-content .two-col-content-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
section.u4m-alternating-content .two-col-content-item .media-col {
  max-width: 582px;
  width: 100%;
}
@media (max-width: 1440px) {
  section.u4m-alternating-content .two-col-content-item .media-col {
    max-width: 100%;
    width: 50%;
  }
}
@media (max-width: 991px) {
  section.u4m-alternating-content .two-col-content-item .media-col {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
}
section.u4m-alternating-content .two-col-content-item .media-col iframe.iframe_video {
  width: 100%;
  min-height: 396px;
  max-height: 396px;
}
@media (max-width: 767px) {
  section.u4m-alternating-content .two-col-content-item .media-col iframe.iframe_video {
    min-height: 300px;
    max-height: 300px;
  }
}
section.u4m-alternating-content .two-col-content-item .media-col img {
  width: 100%;
  max-height: 396px;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 396px;
}
@media (max-width: 767px) {
  section.u4m-alternating-content .two-col-content-item .media-col img {
    min-height: 300px;
    max-height: 300px;
  }
}
section.u4m-alternating-content .two-col-content-item .media-col .video-media {
  width: 100%;
}
section.u4m-alternating-content .two-col-content-item .content-col {
  width: calc(100% - 582px);
  padding-right: 130px;
}
section.u4m-alternating-content .two-col-content-item .content-col.center-align {
  text-align: center;
}
section.u4m-alternating-content .two-col-content-item .content-col.center-align .intro_btn_wrap {
  justify-content: center;
}
section.u4m-alternating-content .two-col-content-item .content-col.right-align {
  text-align: right;
}
section.u4m-alternating-content .two-col-content-item .content-col.right-align .intro_btn_wrap {
  justify-content: flex-end;
}
section.u4m-alternating-content .two-col-content-item .content-col .intro_btn_wrap {
  justify-content: flex-start;
}
@media (max-width: 1440px) {
  section.u4m-alternating-content .two-col-content-item .content-col {
    width: 50%;
    padding-right: 100px;
  }
}
@media (max-width: 991px) {
  section.u4m-alternating-content .two-col-content-item .content-col {
    width: 100%;
    padding-right: 0;
  }
}
section.u4m-alternating-content .two-col-content-item .content-col h2 {
  margin-bottom: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 1.188;
  overflow: hidden;
  text-overflow: ellipsis;
}
section.u4m-alternating-content .two-col-content-item .content-col p {
  margin-top: 0;
}
section.u4m-alternating-content .two-col-content-item .content-col p:last-child {
  margin-bottom: 0;
}
section.u4m-alternating-content .two-col-content-item.right {
  flex-direction: row-reverse;
}
section.u4m-alternating-content .two-col-content-item.right .content-col {
  padding-right: 0;
  padding-left: 130px;
}
@media (max-width: 1440px) {
  section.u4m-alternating-content .two-col-content-item.right .content-col {
    padding-left: 100px;
  }
}
@media (max-width: 991px) {
  section.u4m-alternating-content .two-col-content-item.right .content-col {
    padding-left: 0;
  }
}
@media (max-width: 991px) {
  section.u4m-alternating-content .two-col-content-item {
    flex-direction: column-reverse;
  }
  section.u4m-alternating-content .two-col-content-item.right {
    flex-direction: column-reverse;
  }
}