@import "../../css/_module-imports";

section.u4m-alternating-content {
  padding-top: 90px;
  padding-bottom: 90px;
  &.reverse-text {
    .content-col * {
      color: $white;
    }
  }
  @include tabletvert {
    padding: 50px 0;
  }
  .two-col-content {
    row-gap: 108px;
    display: flex;
    flex-wrap: wrap;
    @include tabletvert {
      row-gap: 50px;
    }
  }
  .two-col-content-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .media-col {
      max-width: 582px;
      width: 100%;
      @include laptop {
        max-width: 100%;
        width: 50%;
      }
      @include tabletvert {
        max-width: 100%;
        width: 100%;
        margin-bottom: 20px;
      }
      img {
        width: 100%;
        max-height: 396px;
        object-fit: cover;
        min-height: 396px;
        @include tabletvert {
          min-height: 300px;
          max-height: 300px;
        }
      }
      .video-media {
        width: 100%;
      }
    }
    .content-col {
      width: calc(100% - 582px);
      padding-right: 130px;
      font-family: $secondaryFont;
      @include laptop {
        width: 50%;
        padding-right: 100px;
      }
      @include tabletmid {
        padding-right: 50px;
      }
      @include tabletvert {
        width: 100%;
        padding-right: 0;
      }
      h2 {
        margin-bottom: 14px;
        font-weight: 500;
        letter-spacing: 0.25px;
        line-height: 1.188;
      }
    }
    &.right {
      flex-direction: row-reverse;
      .content-col {
        padding-right: 0;
        padding-left: 130px;
        @include laptop {
          padding-left: 100px;
        }
        @include tabletmid {
          padding-left: 50px;
        }
        @include tabletvert {
          padding-left: 0;
        }
      }
    }
    @include tabletvert {
      flex-direction: column-reverse;
      &.right {
        flex-direction: column-reverse;
      }
    }
  }
}
