@import "../../css/_module-imports";

section.u4m-blog-subscription {
  padding-top: 92;
  padding-bottom: 86px;
  .page-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    row-gap: 20px;
    .intro_wrapp {
      width: calc(50% - 15px);
      @include tabletvert {
        width: 100%;
      }
      .intro_content {
        text-align: left;
        @include size16;
        line-height: 1.75;
        color: $Dark_jungle;
      }
      .intro_title {
        font-weight: 600;
        line-height: 1.188;
        margin-bottom: 12px;
      }
    }
    .subscribe-form {
      width: calc(50% - 15px);
      @include tabletvert {
        width: 100%;
      }
      @include subscribe-form;
    }
  }
}
