@import "../../css/_module-imports";

section.u4m-blog-subscription {
  padding-top: 92;
  padding-bottom: 86px;
  .page-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    row-gap: 20px;
    .intro_wrapp {
      width: calc(50% - 15px);
      @include tabletvert {
        width: 100%;
      }
      .intro_content {
        text-align: left;
        @include size16;
        line-height: 1.75;
        color: $Dark_jungle;
      }
      .intro_title {
        font-weight: 600;
        line-height: 1.188;
        margin-bottom: 12px;
      }
    }
    .subscribe-form {
      width: calc(50% - 15px);
      @include tabletvert {
        width: 100%;
      }
      .form-title {
        margin: 0;
      }
      form {
        position: relative;
        margin: 0;
        .hs-form-field > label {
          display: none;
        }
        .hs-input {
          border-radius: 5px;
          border: 1px solid $border_color;
          padding: 21px;
          padding-left: 30px;
          padding-right: 144px;
          width: 100%;
          font-family: $secondaryFont;
          @include size16;
          line-height: 1.75;
          color: $Dark_jungle;
          outline: none;
          &::placeholder {
            color: $Dark_jungle;
          }
        }
        .hs_submit.hs-submit {
          position: absolute;
          right: 10px;
          top: 0;
        }
        .hs-button {
          background-color: $Prismic_mango;
          border-radius: 8px;
          margin: 9px 0;
          border: 0;
          font-family: $secondaryFont;
          color: $baseColor;
          padding: 6px 30px;
          @include size14;
          letter-spacing: 0.5px;
          line-height: 3;
        }
      }
      ul.no-list.hs-error-msgs {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }
  }
}
