@import "../../css/_module-imports";

.u4m-blog-post-banner {
  padding-top: 94px;
  padding-bottom: 96px;
  padding-left: 20px;
  padding-right: 20px;

  .page-center {
    padding-left: 0;
    padding-right: 0;
  }

  .post-banner-wrp {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 68px;

    @include navbreak {
      column-gap: 20px;
    }

    @include tabletmid {
      column-gap: 0;
      row-gap: 40px;
      max-width: 768px;
      margin: 0 auto;
    }

    .blog_post_content {
      max-width: 509px;
      width: 100%;

      @include navbreak {
        max-width: calc(50% - 10px);
      }

      @include tabletmid {
        max-width: 100%;
      }
    }

    .blog_post_content_inn {
      .post_tags {
        color: $Prismic_mint;
        margin-bottom: 13px;

        .link {
          @include eyebrow2;
          display: inline-block;
        }
      }

      .post_title {
        h2 {
          color: $White;
          margin-bottom: 23px;
          font-weight: 500;
        }
      }

      .author-wrap {
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;

        @include phone {
          column-gap: 0;
          row-gap: 20px;
          flex-direction: column;
        }

        .avatar {
          font-family: $secondaryFont;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          display: flex;
          align-items: center;
          column-gap: 15px;
          color: rgba(255, 255, 255, 0.66);

          .author_avatar {
            img {
              width: 40px;
              height: 40px;
              object-fit: cover;
              object-position: center;
              border-radius: 50%;
            }
          }
        }
      }
    }

    .post_feature_img {
      max-width: calc(100% - 577px);
      width: 100%;

      @include navbreak {
        max-width: calc(50% - 10px);
      }

      @include tabletmid {
        max-width: 100%;
      }
    }

    .post_feature_img_inn {
      position: relative;
      padding: 16px;
      overflow: hidden;

      &:before,
      &:after {
        content: "";
        height: calc(100% + 2px);
        left: 0px;
        position: absolute;
        top: 0px;
        width: calc(100% + 4px);
        z-index: 2;
      }

      &:after {
        background: linear-gradient(180deg,
            $Medium_Aquamarine 0%,
            rgba(106, 190, 122, 0.0001) 100%);
        border: 1px solid transparent;
        -o-border-image: linear-gradient(180deg,
            $Medium_Aquamarine 0%,
            rgba(106, 190, 122, 0.0001) 100%);
        border-image: linear-gradient(180deg,
            $Medium_Aquamarine 0%,
            rgba(106, 190, 122, 0.0001) 100%);
        border-image-slice: 1;
        border-radius: 13px;
        bottom: 0;
        -webkit-mask: linear-gradient($White 0 0) content-box,
          linear-gradient($Medium_Aquamarine 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        overflow: hidden;
        transition: none;
        width: 100%;
      }

      &:before {
        border: 2px solid $Medium_Aquamarine;
        border-radius: 100px;
        height: 100%;
        left: 0;
        opacity: 0;
        top: 0;
        transition: all 0.2s ease;
        transition: none;
        width: 100%;
      }

      img {
        min-height: 300px;
        object-fit: contain;
        border-radius: 13px;
      }
    }
  }
}