html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

body.overflow-hidden {
  overflow: hidden;
}

.u4m-team-grid .intro_content {
  margin-bottom: 77rem;
}
.u4m-team-grid .intro_content h2.intro_title {
  font-weight: 500;
  margin-bottom: 8rem;
  line-height: 1.1875;
}
.u4m-team-grid .team_grid_row {
  gap: 30px;
  max-width: 100%;
  margin: 0;
}
.u4m-team-grid .team_grid_row .team_item {
  padding: 0;
  flex: 1;
}
.u4m-team-grid .team_grid_row .team_item.card_reverse_text .team_item_inn .member_position {
  color: #fff;
}
.u4m-team-grid .team_grid_row .team_item.card_reverse_text .team_item_inn .member_name {
  color: #fff;
}
.u4m-team-grid .team_grid_row .team_item.card_reverse_text .team_item_inn a.bio_popup {
  color: #fff;
}
.u4m-team-grid .team_grid_row .team_item.card_reverse_text .team_item_inn a.bio_popup svg {
  fill: #fff;
}
.u4m-team-grid .team_grid_row .team_item.card_reverse_text .team_item_inn a.bio_popup svg path {
  fill: #fff;
}
.u4m-team-grid .team_grid_row .team_item .team_item_inn {
  overflow: hidden;
  position: relative;
  height: 100%;
  padding: 18px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  border-radius: 13px;
}
.u4m-team-grid .team_grid_row .team_item .team_item_inn:hover {
  transform: translateY(-12px);
}
.u4m-team-grid .team_grid_row .team_item .team_item_inn:hover:before {
  opacity: 0;
}
.u4m-team-grid .team_grid_row .team_item .team_item_inn:hover::after {
  opacity: 0;
}
.u4m-team-grid .team_grid_row .team_item .team_item_inn:after {
  content: "";
  height: calc(100% + 2px);
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% + 4px);
  z-index: 2;
  background: linear-gradient(180deg, #6abe7a, rgba(106, 190, 122, 0));
  border: 1px solid transparent;
  -o-border-image: linear-gradient(180deg, #6abe7a, rgba(106, 190, 122, 0));
  border-image: linear-gradient(180deg, #6abe7a, rgba(106, 190, 122, 0));
  border-image-slice: 1;
  border-radius: 13px;
  bottom: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#6abe7a 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  overflow: hidden;
  transition: none;
  width: 100%;
}
.u4m-team-grid .team_grid_row .team_item .team_item_inn:before {
  content: "";
  height: calc(100% + 2px);
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% + 4px);
  z-index: 2;
  border: 2px solid #6abe7a;
  border-radius: 13px;
  height: 100%;
  left: 0;
  opacity: 0;
  top: 0;
  transition: all 0.2s ease;
  transition: none;
  width: 100%;
}
.u4m-team-grid .team_grid_row .team_item .team_item_inn .team_img {
  border-radius: 8px;
  width: 342px;
  height: 342px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.u4m-team-grid .team_grid_row .team_item .team_item_inn .team_img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
@media (max-width: 767px) {
  .u4m-team-grid .team_grid_row .team_item .team_item_inn .team_img {
    width: 100%;
    height: 100%;
    max-width: 342px;
    max-height: 342px;
  }
}
.u4m-team-grid .team_grid_row .team_item .team_item_inn .member_position {
  line-height: 2.35714286;
  margin: 0;
  font-weight: 600;
  letter-spacing: 1px;
  color: #9dd8a7;
}
.u4m-team-grid .team_grid_row .team_item .team_item_inn .member_name {
  line-height: 1.28571429;
  font-weight: 500;
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
}
.u4m-team-grid .team_grid_row .team_item .team_item_inn .team_content_inn {
  position: relative;
  z-index: 11;
}
.u4m-team-grid .team_grid_row .team_item a.bio_popup {
  line-height: normal;
  color: #c0fc95;
}
.u4m-team-grid .team_grid_row .team_item a.bio_popup span.arrowbtn {
  width: 14px;
  height: 14px;
}
.u4m-team-grid .team_grid_row .team_item a.bio_popup span.arrowbtn svg {
  width: 14px;
  height: 14px;
}
@media (max-width: 767px) {
  .u4m-team-grid .team_grid_row .team_item {
    width: 100%;
    flex: unset;
  }
}
.u4m-team-grid .team_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  display: none;
  z-index: 9999;
  padding: 30px 0;
  overflow-y: auto;
}
.u4m-team-grid .team_popup .team_popup_overlay {
  position: fixed;
  left: 0px;
  top: 0;
  background: radial-gradient(circle at 50% 0%, #2c6938 0%, #0e2514 78%);
  opacity: 0.9;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.u4m-team-grid .team_popup .team_popup_container {
  max-width: 1236px;
  padding: 0 30px;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.u4m-team-grid .team_popup .team_popup_container .team_popup_row {
  position: relative;
  padding: 20px 0;
}
.u4m-team-grid .team_popup .team_popup_container .team_popup_row img.popup_close {
  right: 0;
  position: absolute;
  top: 0px;
  cursor: pointer;
}
.u4m-team-grid .team_popup .team_popup_container .team_popup_row .team_popup_inn {
  margin: 0 -24px;
  row-gap: 50px;
}
.u4m-team-grid .team_popup .team_popup_container .team_popup_row .team_popup_inn .popup_img_col {
  max-width: 426px;
  width: 100%;
  padding: 0 24px;
}
.u4m-team-grid .team_popup .team_popup_container .team_popup_row .team_popup_inn .popup_img_col .popup_img_inn {
  overflow: hidden;
  position: relative;
  height: 100%;
  padding: 18px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.u4m-team-grid .team_popup .team_popup_container .team_popup_row .team_popup_inn .popup_img_col .popup_img_inn:hover {
  transform: translateY(-12px);
}
.u4m-team-grid .team_popup .team_popup_container .team_popup_row .team_popup_inn .popup_img_col .popup_img_inn:hover:before {
  opacity: 0;
}
.u4m-team-grid .team_popup .team_popup_container .team_popup_row .team_popup_inn .popup_img_col .popup_img_inn:hover::after {
  opacity: 0;
}
.u4m-team-grid .team_popup .team_popup_container .team_popup_row .team_popup_inn .popup_img_col .popup_img_inn:after {
  content: "";
  height: calc(100% + 2px);
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% + 4px);
  z-index: 2;
  background: linear-gradient(180deg, #6abe7a, rgba(106, 190, 122, 0));
  border: 1px solid transparent;
  -o-border-image: linear-gradient(180deg, #6abe7a, rgba(106, 190, 122, 0));
  border-image: linear-gradient(180deg, #6abe7a, rgba(106, 190, 122, 0));
  border-image-slice: 1;
  border-radius: 13px;
  bottom: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#6abe7a 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  overflow: hidden;
  transition: none;
  width: 100%;
}
.u4m-team-grid .team_popup .team_popup_container .team_popup_row .team_popup_inn .popup_img_col .popup_img_inn:before {
  content: "";
  height: calc(100% + 2px);
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% + 4px);
  z-index: 2;
  border: 2px solid #6abe7a;
  border-radius: 13px;
  height: 100%;
  left: 0;
  opacity: 0;
  top: 0;
  transition: all 0.2s ease;
  transition: none;
  width: 100%;
}
.u4m-team-grid .team_popup .team_popup_container .team_popup_row .team_popup_inn .popup_img_col .popup_img_inn img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 342px;
  height: 342px;
  border-radius: 8px;
}
@media (max-width: 767px) {
  .u4m-team-grid .team_popup .team_popup_container .team_popup_row .team_popup_inn .popup_img_col .popup_img_inn img {
    height: 100%;
    max-height: 342px;
    max-width: 342px;
    width: 100%;
  }
}
@media (max-width: 991px) {
  .u4m-team-grid .team_popup .team_popup_container .team_popup_row .team_popup_inn .popup_img_col {
    max-width: 100%;
    padding: 0;
  }
}
.u4m-team-grid .team_popup .team_popup_container .team_popup_row .team_popup_inn .popup_cnt {
  width: calc(100% - 426px);
  padding: 0 24px;
}
.u4m-team-grid .team_popup .team_popup_container .team_popup_row .team_popup_inn .popup_cnt h2.member_name {
  line-height: 1.1875;
  letter-spacing: -1px;
  margin-bottom: 20px;
}
.u4m-team-grid .team_popup .team_popup_container .team_popup_row .team_popup_inn .popup_cnt .member_position {
  font-size: 14rem;
  margin-bottom: 30rem;
  line-height: 1.71;
  color: #2e2e2e;
  font-family: "Sofia Sans";
  font-weight: bold;
  letter-spacing: 0px;
  font-size: 14rem;
  background: #0e2514;
  display: inline-block;
  border-radius: 3px;
  padding: 4px 7px;
  line-height: 2.35714286;
  font-weight: 600;
  margin-bottom: 27px;
  font-family: "Inter";
  color: #c0fc95;
}
.u4m-team-grid .team_popup .team_popup_container .team_popup_row .team_popup_inn .popup_cnt p {
  margin-top: 0;
  color: #fff;
  font-weight: 400;
}
.u4m-team-grid .team_popup .team_popup_container .team_popup_row .team_popup_inn .popup_cnt .member_share ul {
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
  gap: 20px;
}
.u4m-team-grid .team_popup .team_popup_container .team_popup_row .team_popup_inn .popup_cnt .member_share ul li {
  margin: 0;
  width: 21px;
  height: 21px;
}
.u4m-team-grid .team_popup .team_popup_container .team_popup_row .team_popup_inn .popup_cnt .member_share ul li img {
  width: 21px;
  height: 21px;
  -o-object-fit: cover;
     object-fit: cover;
}
.u4m-team-grid .team_popup .team_popup_container .team_popup_row .team_popup_inn .popup_cnt .member_share ul li svg {
  fill: #fff;
  width: 21px;
  height: 21px;
}
@media (max-width: 991px) {
  .u4m-team-grid .team_popup .team_popup_container .team_popup_row .team_popup_inn .popup_cnt {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 991px) {
  .u4m-team-grid .team_popup .team_popup_container .team_popup_row .team_popup_inn {
    margin: 0;
  }
}
@media (max-width: 991px) {
  .u4m-team-grid .team_popup .team_popup_container .team_popup_row {
    padding: 50px 0;
  }
}
.u4m-team-grid .team_popup.team_open {
  display: flex;
}
.u4m-team-grid .team_popup.card_reverse_text * {
  color: #fff;
  fill: #fff;
}