{% set moduleName = 'u4m-team-grid' %}
{% include "../partials/u4-module-includes.html" %}

<div class="page-center  {{ module.module_settings.theme }}">
	<div class="intro_wrapp">
		{{macros.introGroup(module.intro_content)}}
	</div>

  <div class="team_grid_row flex_row intro_content">
    {% for item in module.member_group %}
    <div class="team_item {{ module.module_settings.select_number_of_column }} {% if module.module_settings.card_group.dark_theme %} card_reverse_text {% else %} theme_text{% endif %}">
      <div class="team_item_inn {{ module.module_settings.card.select_background_color }}">
    

        <div class="team_content">
          <div class="team_content_inn">
          {% if item.image_field.src %}
            <div class="team_img">
              <div class="team_img_inn">
                {% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading|escape_attr }}"' : '' %}
                <img src="{{ item.image_field.src|escape_url }}" alt="{{ item.image_field.alt|escape_attr }}" {{ loadingAttr }}>
              </div>
            </div>
            {% endif %}
             {% if item.member_position %}
            <div class="member_position eyebrow_text">
              {{ item.member_position }}
            </div>
            {% endif %}    

            {% if item.member_name %}
            <h4 class="member_name">
              {{ item.member_name }}
            </h4>
            {% endif %}    
           
            <div class="member_btm">
              {% if item.popup_button_text %}
              <div class="bio_popup_text">
                <a class=" bio_popup more-link arrow-link" href="javascript:void(0);" data_index="data{{loop.index}}" >            {{ item.popup_button_text }}
                  <span class="arrowbtn">
                    <svg class="btnArrow1" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                      <path d="M14 0.777754V10.8886C14 11.0948 13.9181 11.2927 13.7722 11.4385C13.6263 11.5844 13.4285 11.6663 13.2222 11.6663C13.016 11.6663 12.8181 11.5844 12.6723 11.4385C12.5264 11.2927 12.4445 11.0948 12.4445 10.8886V2.65506L1.32845 13.7721C1.18251 13.918 0.984574 14 0.778186 14C0.571798 14 0.373864 13.918 0.227925 13.7721C0.0819872 13.6261 0 13.4282 0 13.2218C0 13.0154 0.0819872 12.8175 0.227925 12.6716L11.3449 1.55551H3.11145C2.90517 1.55551 2.70735 1.47357 2.56149 1.32771C2.41564 1.18185 2.33369 0.984027 2.33369 0.777754C2.33369 0.571481 2.41564 0.373656 2.56149 0.227799C2.70735 0.0819418 2.90517 0 3.11145 0H13.2222C13.4285 0 13.6263 0.0819418 13.7722 0.227799C13.9181 0.373656 14 0.571481 14 0.777754Z" fill="#C0FC95"/>
                    </svg>
                    <svg class="btnArrow2" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                      <path d="M14 0.777754V10.8886C14 11.0948 13.9181 11.2927 13.7722 11.4385C13.6263 11.5844 13.4285 11.6663 13.2222 11.6663C13.016 11.6663 12.8181 11.5844 12.6723 11.4385C12.5264 11.2927 12.4445 11.0948 12.4445 10.8886V2.65506L1.32845 13.7721C1.18251 13.918 0.984574 14 0.778186 14C0.571798 14 0.373864 13.918 0.227925 13.7721C0.0819872 13.6261 0 13.4282 0 13.2218C0 13.0154 0.0819872 12.8175 0.227925 12.6716L11.3449 1.55551H3.11145C2.90517 1.55551 2.70735 1.47357 2.56149 1.32771C2.41564 1.18185 2.33369 0.984027 2.33369 0.777754C2.33369 0.571481 2.41564 0.373656 2.56149 0.227799C2.70735 0.0819418 2.90517 0 3.11145 0H13.2222C13.4285 0 13.6263 0.0819418 13.7722 0.227799C13.9181 0.373656 14 0.571481 14 0.777754Z" fill="#C0FC95"/>
                    </svg>
                  </span>
                </a>
            
                
              </div>
              {% endif %}   
            </div>

          </div>
        </div>
      </div>


    </div>
    {% endfor %}

  </div>
  
</div>

{% for item in module.member_group %}
  <div class="team_popup {% if module.module_settings.card.reverse_text %} card_reverse_text {% else %} theme_text {% endif %}" id="data{{loop.index}}">
  <div class="team_popup_overlay"></div>
  <div class="team_popup_container">
    <div class="team_popup_row {{ module.module_settings.card.select_background_color }}">
      <img src="{{ get_asset_url('../../templates/images/PopUp-Close.png') }}" alt="Close" class="popup_close" width="33" height="33" >
      <div class=" flex_row team_popup_inn">
        <div class="popup_img_col">
          <div class="popup_img">
            {% if item.image_field.src %}
            <div class="popup_team_img">
              <div class="popup_img_inn">
                {% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading|escape_attr }}"' : '' %}
                <img src="{{ item.image_field.src|escape_url }}" alt="{{ item.image_field.alt|escape_attr }}" {{ loadingAttr }}>
              </div>
            </div>
            {% endif %}
           
          </div>
        </div>
        {% if item.description %}
        <div class="popup_cnt">
          
          <div class="popup_cnt_inn">
             {% if item.member_name %}
            <h2 class="member_name">
              {{ item.member_name }}
            </h2>
            {% endif %}    
            {% if item.member_position %}
            <div class="member_position eyebrow_text">
              {{ item.member_position }}
            </div>
            {% endif %} 
            
            {{ item.description }}
            <div class="member_share">
              <ul>
                {% for item2 in item.social_icon %}
                <li>
                  {% set href = item2.link_field.url.href %}
                  {% if item2.link_field.url.type is equalto "EMAIL_ADDRESS" %}
                  {% set href = "mailto:" + href %}
                  {% endif %}
                  <a
                     {% if item2.link_field.url.type is equalto "CALL_TO_ACTION"  %}
                     href="{{ href }}" 
                     {% else %}
                     href="{{ href|escape_url }}"
                     {% endif %}
                     {% if item2.link_field.open_in_new_tab %}
                     target="_blank"
                     {% endif %}
                     {% if item2.link_field.rel %}
                     rel="{{ item2.link_field.rel|escape_attr }}"
                     {% endif %}
                     >
                    {% if item2.select_icon_type == "image" %}
                    {% if item2.image_field_1.src %}
                    {% set sizeAttrs = 'width="{{ item2.image_field_1.width|escape_attr }}" height="{{ item2.image_field_1.height|escape_attr }}"' %}
                    {% if item2.image_field_1.size_type == 'auto' %}
                    {% set sizeAttrs = 'width="{{ item2.image_field_1.width|escape_attr }}" height="{{ item2.image_field_1.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                    {% elif item2.image_field_1.size_type == 'auto_custom_max' %}
                    {% set sizeAttrs = 'width="{{ item2.image_field_1.max_width|escape_attr }}" height="{{ item2.image_field_1.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                    {% endif %}
                    {% set loadingAttr = item2.image_field_1.loading != 'disabled' ? 'loading="{{ item2.image_field_1.loading|escape_attr }}"' : '' %}
                    <img src="{{ item2.image_field_1.src|escape_url }}" alt="{{ item2.image_field_1.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
                    {% endif %}
                    {% endif %}
                    {% if item2.select_icon_type == "fontawesome" %}
                      {% icon
        name="{{ item2.icon_field.name }}"
        style="{{ item2.icon_field.type }}"
        unicode="{{ item2.icon_field.unicode }}"
        icon_set="{{ item2.icon_field.icon_set }}"
      %}
                    {% endif %}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endfor  %}


</section>




{% require_js %}
<script>

  $('.{{name}} .popup_close').click(function(){
    $('.team_popup').removeClass('team_open')
    $('body').removeClass('overflow-hidden');
  });

  $('.{{name}} .team_popup_overlay').click(function(){
    $('.team_popup').removeClass('team_open')
    $('body').removeClass('overflow-hidden');
  });

  $(document).ready(function() {
    $('.{{name}} a.bio_popup').on('click', function(event) {
      event.preventDefault();
      var index = $(this).attr('data_index');
      $('.{{name}} .team_popup').each(function(){
          var popup = $(this).attr('id');
          if (index === popup){
          $(this).addClass('team_open');
          $('body').addClass('overflow-hidden');
        }
      })
    });
  });

</script>
{% end_require_js %}














