@import "../../css/_module-imports";

body {
  &.overflow-hidden {
    overflow: hidden;
  }
}

.u4m-team-grid {
  .intro_content {
    margin-bottom: 77rem;

    h2.intro_title {
      font-weight: 500;
      margin-bottom: 8rem;
    }
  }

  .team_grid_row {
    gap: 30px;
    max-width: 100%;
    margin: 0;

    .team_item {
      padding: 0;
      flex: 1;

      &.card_reverse_text {
        .team_item_inn {
          .member_position {
            color: $white;
          }

          .member_name {
            color: $white;
          }

          a.bio_popup {
            color: $white;

            svg {
              fill: $white;

              path {
                fill: $white;
              }
            }
          }
        }
      }

      .team_item_inn {
        overflow: hidden;
        position: relative;
        height: 100%;
        padding: 18px;
        text-align: center;

        &:after {
          content: "";
          height: calc(100% + 2px);
          left: 0;
          position: absolute;
          top: 0;
          width: calc(100% + 4px);
          z-index: 2;
          background: linear-gradient(180deg, $Medium_Aquamarine, rgba($Medium_Aquamarine, 0));
          border: 1px solid transparent;
          -o-border-image: linear-gradient(180deg, $Medium_Aquamarine, rgba($Medium_Aquamarine, 0));
          border-image: linear-gradient(180deg, $Medium_Aquamarine, rgba($Medium_Aquamarine, 0));
          border-image-slice: 1;
          border-radius: 13px;
          bottom: 0;
          -webkit-mask: linear-gradient($white 0 0) content-box, linear-gradient($Medium_Aquamarine 0 0);
          -webkit-mask-composite: xor;
          mask-composite: exclude;
          overflow: hidden;
          transition: none;
          width: 100%;
        }

        &:before {
          content: "";
          height: calc(100% + 2px);
          left: 0;
          position: absolute;
          top: 0;
          width: calc(100% + 4px);
          z-index: 2;
          border: 2px solid $Medium_Aquamarine;
          border-radius: 13px;
          height: 100%;
          left: 0;
          opacity: 0;
          top: 0;
          transition: all .2s ease;
          transition: none;
          width: 100%;
        }

        .team_img {
          border-radius: 8px;
          width: 342px;
          height: 342px;
          overflow: hidden;
          margin-bottom: 10px;
          margin-left: auto;
          margin-right: auto;

          img {
            object-fit: cover;
            height: 100%;
          }

          @include tabletvert {
            width: 100%;
            height: 100%;
            max-width: 342px;
            max-height: 342px;
          }
        }

        .member_position {
          line-height: 2.35714286;
          margin: 0;
          font-weight: 600;
          letter-spacing: 1px;
          color: $Pale_Green;
        }

        .member_name {
          line-height: 1.28571429;
          font-weight: 500;
          margin: 0;
          margin-bottom: 20px;
          color: $white;
        }

        .team_content_inn {
          position: relative;
          z-index: 11;
        }
      }

      a.bio_popup {
        line-height: normal;
        color: $Menthol;

        span.arrowbtn {
          width: 14px;
          height: 14px;

          svg {
            width: 14px;
            height: 14px;
          }
        }
      }

      @include tabletvert {
        width: 100%;
        flex: unset;
      }
    }
  }

  .team_popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    display: none;
    z-index: 9999;
    padding: 30px 0;
    overflow-y: auto;

    .team_popup_overlay {
      position: fixed;
      left: 0px;
      top: 0;
      background: $gradient3;
      opacity: 0.9;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(10px);
    }

    .team_popup_container {
      max-width: 1236px;
      padding: 0 30px;
      margin: auto;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .team_popup_row {
        position: relative;
        padding: 20px 0;

        img.popup_close {
          right: 0;
          position: absolute;
          top: 0px;
          cursor: pointer;
        }

        .team_popup_inn {
          margin: 0 -24px;
          row-gap: 50px;

          .popup_img_col {
            max-width: 426px;
            width: 100%;
            padding: 0 24px;

            .popup_img_inn {
              overflow: hidden;
              position: relative;
              height: 100%;
              padding: 18px;
              text-align: center;

              &:after {
                content: "";
                height: calc(100% + 2px);
                left: 0;
                position: absolute;
                top: 0;
                width: calc(100% + 4px);
                z-index: 2;
                background: linear-gradient(180deg, $Medium_Aquamarine, rgba($Medium_Aquamarine, 0));
                border: 1px solid transparent;
                -o-border-image: linear-gradient(180deg, $Medium_Aquamarine, rgba($Medium_Aquamarine, 0));
                border-image: linear-gradient(180deg, $Medium_Aquamarine, rgba($Medium_Aquamarine, 0));
                border-image-slice: 1;
                border-radius: 13px;
                bottom: 0;
                -webkit-mask: linear-gradient($white 0 0) content-box, linear-gradient($Medium_Aquamarine 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                overflow: hidden;
                transition: none;
                width: 100%;
              }

              &:before {
                content: "";
                height: calc(100% + 2px);
                left: 0;
                position: absolute;
                top: 0;
                width: calc(100% + 4px);
                z-index: 2;
                border: 2px solid $Medium_Aquamarine;
                border-radius: 13px;
                height: 100%;
                left: 0;
                opacity: 0;
                top: 0;
                transition: all .2s ease;
                transition: none;
                width: 100%;


              }

              img {
                object-fit: cover;
                width: 342px;
                height: 342px;

                @include tabletvert {
                  height: 100%;
                  max-height: 342px;
                  max-width: 342px;
                  width: 100%;
                }
              }
            }

            @include tabletmid {
              max-width: 100%;
              padding: 0;
            }
          }

          .popup_cnt {
            width: calc(100% - 426px);
            padding: 0 24px;

            h2.member_name {
              line-height: 1.1875;
              letter-spacing: -1px;
              margin-bottom: 20px;
            }

            .member_position {
              @include h6;
              font-size: 14rem;
              background: $headingColor;
              display: inline-block;
              border-radius: 3px;
              padding: 4px 7px;
              line-height: 2.35714286;
              font-weight: 600;
              margin-bottom: 27px;
              font-family: $secondaryFont;
              color: $white;
            }

            p {
              margin-top: .0;
              color: $white;
              font-weight: 400;
            }

            .member_share {
              ul {
                padding: 0;
                list-style: none;
                margin: 0;
                display: flex;
                gap: 20px;

                li {
                  margin: 0;
                  width: 21px;
                  height: 21px;

                  img {
                    width: 21px;
                    height: 21px;
                    object-fit: cover;
                  }

                  svg {
                    fill: $white;
                    width: 21px;
                    height: 21px;
                  }
                }
              }
            }

            @include tabletmid {
              width: 100%;
              padding: 0;
            }
          }

          @include tabletmid {
            margin: 0;
          }
        }

        @include tabletmid {
          padding: 50px 0;
        }
      }
    }
  }

  .team_popup.team_open {
    display: flex;
  }

  .team_popup.card_reverse_text {
    * {
      color: $white;
      fill: $white;
    }
  }
}