<div class="social_wrpp">
	<div class="inner_wrpp">
		<ul>
			{% for item in module.items_group %}
			<li>
				{% set href = item.link_field.url.href %}
				{% if item.link_field.url.type is equalto "EMAIL_ADDRESS" %}
				{% set href = "mailto:" + href %}
				{% endif %}
				<a
					 {% if item.link_field.url.type is equalto "CALL_TO_ACTION"  %}
					 href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
					 {% else %}
					 href="{{ href|escape_url }}"
					 {% endif %}
					 {% if item.link_field.open_in_new_tab %}
					 target="_blank"
					 {% endif %}
					 {% if item.link_field.rel %}
					 rel="{{ item.link_field.rel|escape_attr }}"
					 {% endif %}
					 >
					{{ item.icon }}
				</a>
			</li>
			{% endfor %}

		</ul>
	</div>
</div>

