@import "../../css/_module-imports";

.u4m-accordion.dnd_padd {
  @include tabletMin {
    padding: 83px 148px;
  }

  .intro_content {
    margin-bottom: 50px;
  }

  .acc_item {
    margin-bottom: 12px;
    background-color: $white;
    border-radius: $border3;

    .acc_ttl {
      padding: 30px 70px 27px 36px;
      position: relative;
      cursor: pointer;

      @include tabletvert {
        padding: 24px 50px 24px 20px;
      }

      @include phone {
        padding: 24px 50px 24px 24px;
      }

      h4 {
        margin: 0;
        font-weight: 600;
        font-family: inherit;
        color: $headingColor;
      }

      &:hover .plus,
      &.active .plus {
        background-color: $Medium_Sea_Green;

        svg line {
          stroke: $white !important;
        }
      }

      &.active .plus {
        transform: rotate(45deg);
      }

      .plus {
        width: 36px;
        height: 36px;
        background: $Nori_Green;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 29px;
        right: 20px;
        transition: all 0.3s linear;

        @include tabletvert {
          width: 25px;
          height: 25px;

          svg {
            width: 15px !important;
            height: 15px !important;
          }
        }
      }
    }

    .acc_cnt {
      display: none;

      .acc_cnt_inr {
        padding: 0 36px 45px;
        color: $Nori_Green;
        opacity: 0.66;

        @include tabletvert {
          padding: 10px 24px;
          padding: 0 24px 24px;
        }

        @include phone {
          padding: 10px 24px 24px;
          padding: 0 24px 24px;
          @include size14;
        }

        p {
          margin: 0;
        }
      }
    }
  }
}
