html {
  font-size: 1px;
}

/* auto scale down elements on mobile */
@media (max-width: 580px) {
  html {
    font-size: 1px;
  }
}

/* auto scale up elements on large displays */
@media (min-width: 2560px) {
  html {
    font-size: 1px;
  }
}

@media (min-width: 1025px) {
  .u4m-accordion.dnd_padd {
    padding: 83px 148px;
  }
}
.u4m-accordion.dnd_padd.reverse-text .acc_item .acc_cnt .acc_cnt_inr {
  color: inherit;
}
.u4m-accordion.dnd_padd .intro_content {
  margin-bottom: 50px;
}
.u4m-accordion.dnd_padd .acc_item {
  margin-bottom: 12px;
}
.u4m-accordion.dnd_padd .acc_item .acc_ttl {
  padding: 30px 60px 27px 36px;
  position: relative;
  cursor: pointer;
}
@media (max-width: 767px) {
  .u4m-accordion.dnd_padd .acc_item .acc_ttl {
    padding: 10px 50px 10px 20px;
  }
}
@media (max-width: 580px) {
  .u4m-accordion.dnd_padd .acc_item .acc_ttl {
    padding: 10px 50px 10px 10px;
  }
}
.u4m-accordion.dnd_padd .acc_item .acc_ttl h4 {
  margin: 0;
  font-weight: bold;
  font-family: inherit;
}
.u4m-accordion.dnd_padd .acc_item .acc_ttl:hover .plus, .u4m-accordion.dnd_padd .acc_item .acc_ttl.active .plus {
  transform: rotate(45deg);
  background-color: #348543;
}
.u4m-accordion.dnd_padd .acc_item .acc_ttl:hover .plus svg line, .u4m-accordion.dnd_padd .acc_item .acc_ttl.active .plus svg line {
  stroke: #fff !important;
}
.u4m-accordion.dnd_padd .acc_item .acc_ttl .plus {
  width: 36px;
  height: 36px;
  background: #0e2514;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 29px;
  right: 20px;
  transition: all 0.3s linear;
}
@media (max-width: 767px) {
  .u4m-accordion.dnd_padd .acc_item .acc_ttl .plus {
    width: 25px;
    height: 25px;
  }
  .u4m-accordion.dnd_padd .acc_item .acc_ttl .plus svg {
    width: 15px !important;
    height: 15px !important;
  }
}
.u4m-accordion.dnd_padd .acc_item .acc_cnt {
  display: none;
}
.u4m-accordion.dnd_padd .acc_item .acc_cnt .acc_cnt_inr {
  padding: 0 36px 45px;
  color: #0e2514;
  opacity: 0.66;
}
@media (max-width: 767px) {
  .u4m-accordion.dnd_padd .acc_item .acc_cnt .acc_cnt_inr {
    padding: 10px 20px;
  }
}
@media (max-width: 580px) {
  .u4m-accordion.dnd_padd .acc_item .acc_cnt .acc_cnt_inr {
    padding: 10px;
    font-size: 14rem;
  }
}
.u4m-accordion.dnd_padd .acc_item .acc_cnt .acc_cnt_inr p {
  margin: 0;
}